@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../font/MaterialIcons.ttf");
  /* For IE6-8 */
  src: url("../font/MaterialIcons.woff2") format("woff2"), url("../font/MaterialIcons.woff") format("woff"), url("../font/MaterialIcons.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  -ms-word-wrap: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  position: relative;
}

.material-icons:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .3;
}

.material-icons:after {
  opacity: 1;
}

/* Rules for sizing the icon. */
.md-18 {
  font-size: 18px;
}

.md-24 {
  font-size: 24px;
}

.md-36 {
  font-size: 36px;
}

.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.md-light {
  color: white;
}

.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* Icons. */
.md-360:after {
  content: '\e000';
}

.md-3d-rotation:after {
  content: '\e001';
}

.md-4k:after {
  content: '\e002';
}

.md-ac-unit:after {
  content: '\e004';
}

.md-access-alarm:after {
  content: '\e005';
}

.md-access-alarms:after {
  content: '\e007';
}

.md-access-time:after {
  content: '\e009';
}

.md-accessibility:after {
  content: '\e00b';
}

.md-accessibility-new:after {
  content: '\e00c';
}

.md-accessible:after {
  content: '\e00d';
}

.md-accessible-forward:after {
  content: '\e00e';
}

.md-account-balance:after {
  content: '\e00f';
}

.md-account-balance-wallet:after {
  content: '\e011';
}

.md-account-box:after {
  content: '\e013';
}

.md-account-circle:after {
  content: '\e015';
}

.md-account-tree:after {
  content: '\e017';
}

.md-adb:after {
  content: '\e019';
}

.md-add:after {
  content: '\e01a';
}

.md-add-a-photo:after {
  content: '\e01b';
}

.md-add-alarm:after {
  content: '\e01d';
}

.md-add-alert:after {
  content: '\e01f';
}

.md-add-box:after {
  content: '\e021';
}

.md-add-circle:after {
  content: '\e023';
}

.md-add-circle-outline:after {
  content: '\e025';
}

.md-add-comment:after {
  content: '\e026';
}

.md-add-location:after {
  content: '\e028';
}

.md-add-photo-alternate:after {
  content: '\e02a';
}

.md-add-shopping-cart:after {
  content: '\e02c';
}

.md-add-to-home-screen:after {
  content: '\e02d';
}

.md-add-to-photos:after {
  content: '\e02e';
}

.md-add-to-queue:after {
  content: '\e030';
}

.md-adjust:after {
  content: '\e032';
}

.md-airline-seat-flat:after {
  content: '\e033';
}

.md-airline-seat-flat-angled:after {
  content: '\e035';
}

.md-airline-seat-individual-suite:after {
  content: '\e037';
}

.md-airline-seat-legroom-extra:after {
  content: '\e039';
}

.md-airline-seat-legroom-normal:after {
  content: '\e03a';
}

.md-airline-seat-legroom-reduced:after {
  content: '\e03b';
}

.md-airline-seat-recline-extra:after {
  content: '\e03c';
}

.md-airline-seat-recline-normal:after {
  content: '\e03d';
}

.md-airplanemode-active:after {
  content: '\e03e';
}

.md-airplanemode-inactive:after {
  content: '\e03f';
}

.md-airplay:after {
  content: '\e040';
}

.md-airport-shuttle:after {
  content: '\e041';
}

.md-alarm:after {
  content: '\e043';
}

.md-alarm-add:after {
  content: '\e045';
}

.md-alarm-off:after {
  content: '\e047';
}

.md-alarm-on:after {
  content: '\e048';
}

.md-album:after {
  content: '\e04a';
}

.md-all-inbox:after {
  content: '\e04c';
}

.md-all-inclusive:after {
  content: '\e04e';
}

.md-all-out:after {
  content: '\e04f';
}

.md-alternate-email:after {
  content: '\e051';
}

.md-amp-stories:after {
  content: '\e053';
}

.md-android:after {
  content: '\e055';
}

.md-announcement:after {
  content: '\e056';
}

.md-apartment:after {
  content: '\e058';
}

.md-apps:after {
  content: '\e059';
}

.md-archive:after {
  content: '\e05a';
}

.md-arrow-back:after {
  content: '\e05c';
}

.md-arrow-back-ios:after {
  content: '\e05d';
}

.md-arrow-downward:after {
  content: '\e05e';
}

.md-arrow-drop-down:after {
  content: '\e05f';
}

.md-arrow-drop-down-circle:after {
  content: '\e060';
}

.md-arrow-drop-up:after {
  content: '\e062';
}

.md-arrow-forward:after {
  content: '\e063';
}

.md-arrow-forward-ios:after {
  content: '\e064';
}

.md-arrow-left:after {
  content: '\e065';
}

.md-arrow-right:after {
  content: '\e066';
}

.md-arrow-right-alt:after {
  content: '\e067';
}

.md-arrow-upward:after {
  content: '\e068';
}

.md-art-track:after {
  content: '\e069';
}

.md-aspect-ratio:after {
  content: '\e06a';
}

.md-assessment:after {
  content: '\e06c';
}

.md-assignment:after {
  content: '\e06e';
}

.md-assignment-ind:after {
  content: '\e070';
}

.md-assignment-late:after {
  content: '\e072';
}

.md-assignment-return:after {
  content: '\e074';
}

.md-assignment-returned:after {
  content: '\e076';
}

.md-assignment-turned-in:after {
  content: '\e078';
}

.md-assistant:after {
  content: '\e07a';
}

.md-assistant-photo:after {
  content: '\e07c';
}

.md-atm:after {
  content: '\e07e';
}

.md-attach-file:after {
  content: '\e07f';
}

.md-attach-money:after {
  content: '\e080';
}

.md-attachment:after {
  content: '\e081';
}

.md-audiotrack:after {
  content: '\e082';
}

.md-autorenew:after {
  content: '\e084';
}

.md-av-timer:after {
  content: '\e085';
}

.md-backspace:after {
  content: '\e086';
}

.md-backup:after {
  content: '\e088';
}

.md-ballot:after {
  content: '\e08a';
}

.md-bar-chart:after {
  content: '\e08c';
}

.md-barcode:after {
  content: '\e08d';
}

.md-bathtub:after {
  content: '\e08e';
}

.md-battery-20:after {
  content: '\e090';
}

.md-battery-20:before {
  content: '\e091';
}

.md-battery-30:after {
  content: '\e092';
}

.md-battery-30:before {
  content: '\e093';
}

.md-battery-50:after {
  content: '\e094';
}

.md-battery-50:before {
  content: '\e095';
}

.md-battery-60:after {
  content: '\e096';
}

.md-battery-60:before {
  content: '\e097';
}

.md-battery-80:after {
  content: '\e098';
}

.md-battery-80:before {
  content: '\e099';
}

.md-battery-90:after {
  content: '\e09a';
}

.md-battery-90:before {
  content: '\e09b';
}

.md-battery-alert:after {
  content: '\e09c';
}

.md-battery-charging-20:after {
  content: '\e09d';
}

.md-battery-charging-20:before {
  content: '\e09e';
}

.md-battery-charging-30:after {
  content: '\e09f';
}

.md-battery-charging-30:before {
  content: '\e0a0';
}

.md-battery-charging-50:after {
  content: '\e0a1';
}

.md-battery-charging-50:before {
  content: '\e0a2';
}

.md-battery-charging-60:after {
  content: '\e0a3';
}

.md-battery-charging-60:before {
  content: '\e0a4';
}

.md-battery-charging-80:after {
  content: '\e0a5';
}

.md-battery-charging-80:before {
  content: '\e0a6';
}

.md-battery-charging-90:after {
  content: '\e0a7';
}

.md-battery-charging-90:before {
  content: '\e0a8';
}

.md-battery-charging-full:after {
  content: '\e0a9';
}

.md-battery-full:after {
  content: '\e0aa';
}

.md-battery-std:after {
  content: '\e0ab';
}

.md-battery-unknown:after {
  content: '\e0ac';
}

.md-beach-access:after {
  content: '\e0ad';
}

.md-beenhere:after {
  content: '\e0af';
}

.md-block:after {
  content: '\e0b1';
}

.md-bluetooth:after {
  content: '\e0b2';
}

.md-bluetooth-audio:after {
  content: '\e0b3';
}

.md-bluetooth-connected:after {
  content: '\e0b4';
}

.md-bluetooth-disabled:after {
  content: '\e0b5';
}

.md-bluetooth-searching:after {
  content: '\e0b6';
}

.md-blur-circular:after {
  content: '\e0b7';
}

.md-blur-linear:after {
  content: '\e0b8';
}

.md-blur-off:after {
  content: '\e0b9';
}

.md-blur-on:after {
  content: '\e0ba';
}

.md-book:after {
  content: '\e0bb';
}

.md-bookmark:after {
  content: '\e0bd';
}

.md-bookmark-border:after {
  content: '\e0bf';
}

.md-bookmarks:after {
  content: '\e0c0';
}

.md-border-all:after {
  content: '\e0c2';
}

.md-border-bottom:after {
  content: '\e0c3';
}

.md-border-clear:after {
  content: '\e0c4';
}

.md-border-color:after {
  content: '\e0c5';
}

.md-border-color:before {
  content: '\e0c6';
}

.md-border-horizontal:after {
  content: '\e0c7';
}

.md-border-inner:after {
  content: '\e0c8';
}

.md-border-left:after {
  content: '\e0c9';
}

.md-border-outer:after {
  content: '\e0ca';
}

.md-border-right:after {
  content: '\e0cb';
}

.md-border-style:after {
  content: '\e0cc';
}

.md-border-top:after {
  content: '\e0cd';
}

.md-border-vertical:after {
  content: '\e0ce';
}

.md-branding-watermark:after {
  content: '\e0cf';
}

.md-brightness-1:after {
  content: '\e0d1';
}

.md-brightness-2:after {
  content: '\e0d3';
}

.md-brightness-3:after {
  content: '\e0d5';
}

.md-brightness-4:after {
  content: '\e0d7';
}

.md-brightness-5:after {
  content: '\e0d9';
}

.md-brightness-6:after {
  content: '\e0db';
}

.md-brightness-7:after {
  content: '\e0dd';
}

.md-brightness-auto:after {
  content: '\e0df';
}

.md-brightness-high:after {
  content: '\e0e1';
}

.md-brightness-low:after {
  content: '\e0e3';
}

.md-brightness-medium:after {
  content: '\e0e5';
}

.md-broken-image:after {
  content: '\e0e7';
}

.md-brush:after {
  content: '\e0e9';
}

.md-bubble-chart:after {
  content: '\e0eb';
}

.md-bug-report:after {
  content: '\e0ed';
}

.md-build:after {
  content: '\e0ef';
}

.md-burst-mode:after {
  content: '\e0f1';
}

.md-business:after {
  content: '\e0f3';
}

.md-business-center:after {
  content: '\e0f5';
}

.md-cached:after {
  content: '\e0f7';
}

.md-cake:after {
  content: '\e0f8';
}

.md-calendar-today:after {
  content: '\e0fa';
}

.md-calendar-view-day:after {
  content: '\e0fc';
}

.md-call:after {
  content: '\e0fe';
}

.md-call-end:after {
  content: '\e100';
}

.md-call-made:after {
  content: '\e102';
}

.md-call-merge:after {
  content: '\e103';
}

.md-call-missed:after {
  content: '\e104';
}

.md-call-missed-outgoing:after {
  content: '\e105';
}

.md-call-received:after {
  content: '\e106';
}

.md-call-split:after {
  content: '\e107';
}

.md-call-to-action:after {
  content: '\e108';
}

.md-camera:after {
  content: '\e10a';
}

.md-camera-alt:after {
  content: '\e10c';
}

.md-camera-enhance:after {
  content: '\e10e';
}

.md-camera-front:after {
  content: '\e110';
}

.md-camera-rear:after {
  content: '\e112';
}

.md-camera-roll:after {
  content: '\e114';
}

.md-cancel:after {
  content: '\e116';
}

.md-cancel-presentation:after {
  content: '\e118';
}

.md-cancel-schedule-send:after {
  content: '\e11a';
}

.md-card-giftcard:after {
  content: '\e11c';
}

.md-card-membership:after {
  content: '\e11e';
}

.md-card-travel:after {
  content: '\e120';
}

.md-casino:after {
  content: '\e122';
}

.md-cast:after {
  content: '\e124';
}

.md-cast-connected:after {
  content: '\e125';
}

.md-cast-for-education:after {
  content: '\e127';
}

.md-category:after {
  content: '\e128';
}

.md-cell-wifi:after {
  content: '\e12a';
}

.md-cell-wifi:before {
  content: '\e12b';
}

.md-center-focus-strong:after {
  content: '\e12c';
}

.md-center-focus-weak:after {
  content: '\e12e';
}

.md-change-history:after {
  content: '\e130';
}

.md-chat:after {
  content: '\e132';
}

.md-chat-bubble:after {
  content: '\e134';
}

.md-chat-bubble-outline:after {
  content: '\e136';
}

.md-check:after {
  content: '\e137';
}

.md-check-box:after {
  content: '\e138';
}

.md-check-box-outline-blank:after {
  content: '\e13a';
}

.md-check-circle:after {
  content: '\e13b';
}

.md-check-circle-outline:after {
  content: '\e13d';
}

.md-chevron-left:after {
  content: '\e13e';
}

.md-chevron-right:after {
  content: '\e13f';
}

.md-child-care:after {
  content: '\e140';
}

.md-child-friendly:after {
  content: '\e142';
}

.md-chrome-reader-mode:after {
  content: '\e144';
}

.md-class:after {
  content: '\e146';
}

.md-clear:after {
  content: '\e148';
}

.md-clear-all:after {
  content: '\e149';
}

.md-close:after {
  content: '\e14a';
}

.md-closed-caption:after {
  content: '\e14b';
}

.md-cloud:after {
  content: '\e14d';
}

.md-cloud-circle:after {
  content: '\e14f';
}

.md-cloud-done:after {
  content: '\e151';
}

.md-cloud-download:after {
  content: '\e153';
}

.md-cloud-off:after {
  content: '\e155';
}

.md-cloud-queue:after {
  content: '\e157';
}

.md-cloud-upload:after {
  content: '\e159';
}

.md-code:after {
  content: '\e15b';
}

.md-collections:after {
  content: '\e15c';
}

.md-collections-bookmark:after {
  content: '\e15e';
}

.md-color-lens:after {
  content: '\e160';
}

.md-colorize:after {
  content: '\e162';
}

.md-comment:after {
  content: '\e164';
}

.md-commute:after {
  content: '\e166';
}

.md-compare:after {
  content: '\e167';
}

.md-compare-arrows:after {
  content: '\e169';
}

.md-compass-calibration:after {
  content: '\e16a';
}

.md-computer:after {
  content: '\e16c';
}

.md-confirmation-number:after {
  content: '\e16e';
}

.md-contact-mail:after {
  content: '\e170';
}

.md-contact-phone:after {
  content: '\e172';
}

.md-contact-support:after {
  content: '\e174';
}

.md-contactless:after {
  content: '\e176';
}

.md-contacts:after {
  content: '\e178';
}

.md-content-copy:after {
  content: '\e17a';
}

.md-content-cut:after {
  content: '\e17c';
}

.md-content-paste:after {
  content: '\e17e';
}

.md-control-camera:after {
  content: '\e180';
}

.md-control-point:after {
  content: '\e181';
}

.md-control-point-duplicate:after {
  content: '\e183';
}

.md-copyright:after {
  content: '\e185';
}

.md-create:after {
  content: '\e187';
}

.md-create-new-folder:after {
  content: '\e189';
}

.md-credit-card:after {
  content: '\e18b';
}

.md-crop:after {
  content: '\e18d';
}

.md-crop-16-9:after {
  content: '\e18e';
}

.md-crop-3-2:after {
  content: '\e18f';
}

.md-crop-5-4:after {
  content: '\e190';
}

.md-crop-7-5:after {
  content: '\e191';
}

.md-crop-din:after {
  content: '\e192';
}

.md-crop-free:after {
  content: '\e193';
}

.md-crop-landscape:after {
  content: '\e194';
}

.md-crop-original:after {
  content: '\e195';
}

.md-crop-portrait:after {
  content: '\e196';
}

.md-crop-rotate:after {
  content: '\e197';
}

.md-crop-square:after {
  content: '\e198';
}

.md-dashboard:after {
  content: '\e199';
}

.md-data-usage:after {
  content: '\e19b';
}

.md-date-range:after {
  content: '\e19c';
}

.md-deck:after {
  content: '\e19e';
}

.md-dehaze:after {
  content: '\e1a0';
}

.md-delete:after {
  content: '\e1a1';
}

.md-delete-forever:after {
  content: '\e1a3';
}

.md-delete-outline:after {
  content: '\e1a5';
}

.md-delete-sweep:after {
  content: '\e1a6';
}

.md-departure-board:after {
  content: '\e1a8';
}

.md-description:after {
  content: '\e1aa';
}

.md-desktop-access-disabled:after {
  content: '\e1ac';
}

.md-desktop-mac:after {
  content: '\e1ae';
}

.md-desktop-windows:after {
  content: '\e1b0';
}

.md-details:after {
  content: '\e1b2';
}

.md-developer-board:after {
  content: '\e1b4';
}

.md-developer-mode:after {
  content: '\e1b6';
}

.md-device-hub:after {
  content: '\e1b7';
}

.md-device-unknown:after {
  content: '\e1b8';
}

.md-devices:after {
  content: '\e1ba';
}

.md-devices-other:after {
  content: '\e1bc';
}

.md-dialer-sip:after {
  content: '\e1be';
}

.md-dialpad:after {
  content: '\e1c0';
}

.md-directions:after {
  content: '\e1c1';
}

.md-directions-bike:after {
  content: '\e1c3';
}

.md-directions-boat:after {
  content: '\e1c4';
}

.md-directions-bus:after {
  content: '\e1c6';
}

.md-directions-car:after {
  content: '\e1c8';
}

.md-directions-railway:after {
  content: '\e1ca';
}

.md-directions-run:after {
  content: '\e1cc';
}

.md-directions-subway:after {
  content: '\e1cd';
}

.md-directions-transit:after {
  content: '\e1cf';
}

.md-directions-walk:after {
  content: '\e1d1';
}

.md-disc-full:after {
  content: '\e1d2';
}

.md-divide:after {
  content: '\e1d4';
}

.md-dns:after {
  content: '\e1d6';
}

.md-do-not-disturb:after {
  content: '\e1d8';
}

.md-do-not-disturb-alt:after {
  content: '\e1da';
}

.md-do-not-disturb-off:after {
  content: '\e1dc';
}

.md-dock:after {
  content: '\e1de';
}

.md-domain:after {
  content: '\e1e0';
}

.md-domain-disabled:after {
  content: '\e1e2';
}

.md-done:after {
  content: '\e1e4';
}

.md-done-all:after {
  content: '\e1e5';
}

.md-done-outline:after {
  content: '\e1e6';
}

.md-donut-large:after {
  content: '\e1e7';
}

.md-donut-small:after {
  content: '\e1e8';
}

.md-double-arrow:after {
  content: '\e1ea';
}

.md-drafts:after {
  content: '\e1eb';
}

.md-drag-handle:after {
  content: '\e1ed';
}

.md-drag-indicator:after {
  content: '\e1ee';
}

.md-drive-eta:after {
  content: '\e1ef';
}

.md-duo:after {
  content: '\e1f1';
}

.md-dvr:after {
  content: '\e1f2';
}

.md-dynamic-feed:after {
  content: '\e1f4';
}

.md-eco:after {
  content: '\e1f6';
}

.md-edit:after {
  content: '\e1f8';
}

.md-edit-attributes:after {
  content: '\e1fa';
}

.md-edit-location:after {
  content: '\e1fc';
}

.md-eject:after {
  content: '\e1fe';
}

.md-email:after {
  content: '\e200';
}

.md-emoji-emotions:after {
  content: '\e202';
}

.md-emoji-events:after {
  content: '\e204';
}

.md-emoji-flags:after {
  content: '\e206';
}

.md-emoji-food-beverage:after {
  content: '\e208';
}

.md-emoji-nature:after {
  content: '\e20a';
}

.md-emoji-objects:after {
  content: '\e20c';
}

.md-emoji-people:after {
  content: '\e20e';
}

.md-emoji-symbols:after {
  content: '\e20f';
}

.md-emoji-transportation:after {
  content: '\e210';
}

.md-enhanced-encryption:after {
  content: '\e211';
}

.md-equalizer:after {
  content: '\e213';
}

.md-equals:after {
  content: '\e214';
}

.md-error:after {
  content: '\e215';
}

.md-error-outline:after {
  content: '\e217';
}

.md-euro:after {
  content: '\e218';
}

.md-euro-symbol:after {
  content: '\e219';
}

.md-ev-station:after {
  content: '\e21a';
}

.md-event:after {
  content: '\e21c';
}

.md-event-available:after {
  content: '\e21e';
}

.md-event-busy:after {
  content: '\e220';
}

.md-event-note:after {
  content: '\e222';
}

.md-event-seat:after {
  content: '\e224';
}

.md-exit-to-app:after {
  content: '\e226';
}

.md-expand-less:after {
  content: '\e227';
}

.md-expand-more:after {
  content: '\e228';
}

.md-explicit:after {
  content: '\e229';
}

.md-explore:after {
  content: '\e22b';
}

.md-explore-off:after {
  content: '\e22d';
}

.md-exposure:after {
  content: '\e22f';
}

.md-exposure-neg-1:after {
  content: '\e231';
}

.md-exposure-neg-2:after {
  content: '\e232';
}

.md-exposure-plus-1:after {
  content: '\e233';
}

.md-exposure-plus-2:after {
  content: '\e234';
}

.md-exposure-zero:after {
  content: '\e235';
}

.md-extension:after {
  content: '\e236';
}

.md-face:after {
  content: '\e238';
}

.md-fast-forward:after {
  content: '\e23a';
}

.md-fast-rewind:after {
  content: '\e23c';
}

.md-fastfood:after {
  content: '\e23e';
}

.md-favorite:after {
  content: '\e240';
}

.md-favorite-border:after {
  content: '\e242';
}

.md-featured-play-list:after {
  content: '\e243';
}

.md-featured-video:after {
  content: '\e245';
}

.md-feedback:after {
  content: '\e247';
}

.md-fiber-dvr:after {
  content: '\e249';
}

.md-fiber-manual-record:after {
  content: '\e24b';
}

.md-fiber-new:after {
  content: '\e24d';
}

.md-fiber-pin:after {
  content: '\e24f';
}

.md-fiber-smart-record:after {
  content: '\e251';
}

.md-file-copy:after {
  content: '\e253';
}

.md-file-upload:after {
  content: '\e255';
}

.md-filter:after {
  content: '\e257';
}

.md-filter-1:after {
  content: '\e259';
}

.md-filter-2:after {
  content: '\e25b';
}

.md-filter-3:after {
  content: '\e25d';
}

.md-filter-4:after {
  content: '\e25f';
}

.md-filter-5:after {
  content: '\e261';
}

.md-filter-6:after {
  content: '\e263';
}

.md-filter-7:after {
  content: '\e265';
}

.md-filter-8:after {
  content: '\e267';
}

.md-filter-9:after {
  content: '\e269';
}

.md-filter-9-plus:after {
  content: '\e26b';
}

.md-filter-b-and-w:after {
  content: '\e26d';
}

.md-filter-center-focus:after {
  content: '\e26f';
}

.md-filter-drama:after {
  content: '\e270';
}

.md-filter-frames:after {
  content: '\e272';
}

.md-filter-hdr:after {
  content: '\e274';
}

.md-filter-list:after {
  content: '\e276';
}

.md-filter-none:after {
  content: '\e277';
}

.md-filter-tilt-shift:after {
  content: '\e279';
}

.md-filter-vintage:after {
  content: '\e27a';
}

.md-find-in-page:after {
  content: '\e27c';
}

.md-find-replace:after {
  content: '\e27e';
}

.md-fingerprint:after {
  content: '\e27f';
}

.md-fireplace:after {
  content: '\e280';
}

.md-first-page:after {
  content: '\e282';
}

.md-fitness-center:after {
  content: '\e283';
}

.md-flag:after {
  content: '\e284';
}

.md-flare:after {
  content: '\e286';
}

.md-flash-auto:after {
  content: '\e287';
}

.md-flash-off:after {
  content: '\e288';
}

.md-flash-on:after {
  content: '\e289';
}

.md-flight:after {
  content: '\e28a';
}

.md-flight-land:after {
  content: '\e28b';
}

.md-flight-takeoff:after {
  content: '\e28c';
}

.md-flip:after {
  content: '\e28d';
}

.md-flip-camera-android:after {
  content: '\e28e';
}

.md-flip-camera-ios:after {
  content: '\e290';
}

.md-flip-to-back:after {
  content: '\e292';
}

.md-flip-to-front:after {
  content: '\e293';
}

.md-folder:after {
  content: '\e294';
}

.md-folder-open:after {
  content: '\e296';
}

.md-folder-shared:after {
  content: '\e298';
}

.md-folder-special:after {
  content: '\e29a';
}

.md-font-download:after {
  content: '\e29c';
}

.md-format-align-center:after {
  content: '\e29e';
}

.md-format-align-justify:after {
  content: '\e29f';
}

.md-format-align-left:after {
  content: '\e2a0';
}

.md-format-align-right:after {
  content: '\e2a1';
}

.md-format-bold:after {
  content: '\e2a2';
}

.md-format-clear:after {
  content: '\e2a3';
}

.md-format-color-fill:after {
  content: '\e2a4';
}

.md-format-color-fill:before {
  content: '\e2a5';
}

.md-format-color-reset:after {
  content: '\e2a6';
}

.md-format-color-text:after {
  content: '\e2a8';
}

.md-format-color-text:before {
  content: '\e2a9';
}

.md-format-indent-decrease:after {
  content: '\e2aa';
}

.md-format-indent-increase:after {
  content: '\e2ab';
}

.md-format-italic:after {
  content: '\e2ac';
}

.md-format-line-spacing:after {
  content: '\e2ad';
}

.md-format-list-bulleted:after {
  content: '\e2ae';
}

.md-format-list-numbered:after {
  content: '\e2af';
}

.md-format-list-numbered-rtl:after {
  content: '\e2b0';
}

.md-format-paint:after {
  content: '\e2b1';
}

.md-format-quote:after {
  content: '\e2b3';
}

.md-format-shapes:after {
  content: '\e2b5';
}

.md-format-size:after {
  content: '\e2b7';
}

.md-format-strikethrough:after {
  content: '\e2b8';
}

.md-format-textdirection-l-to-r:after {
  content: '\e2b9';
}

.md-format-textdirection-r-to-l:after {
  content: '\e2bb';
}

.md-format-underlined:after {
  content: '\e2bd';
}

.md-forum:after {
  content: '\e2be';
}

.md-forward:after {
  content: '\e2c0';
}

.md-forward-10:after {
  content: '\e2c2';
}

.md-forward-30:after {
  content: '\e2c3';
}

.md-forward-5:after {
  content: '\e2c4';
}

.md-free-breakfast:after {
  content: '\e2c5';
}

.md-fullscreen:after {
  content: '\e2c7';
}

.md-fullscreen-exit:after {
  content: '\e2c8';
}

.md-functions:after {
  content: '\e2c9';
}

.md-g-translate:after {
  content: '\e2ca';
}

.md-gamepad:after {
  content: '\e2cb';
}

.md-games:after {
  content: '\e2cd';
}

.md-gavel:after {
  content: '\e2cf';
}

.md-gesture:after {
  content: '\e2d0';
}

.md-get-app:after {
  content: '\e2d1';
}

.md-gif:after {
  content: '\e2d3';
}

.md-golf-course:after {
  content: '\e2d5';
}

.md-gps-fixed:after {
  content: '\e2d7';
}

.md-gps-not-fixed:after {
  content: '\e2d9';
}

.md-gps-off:after {
  content: '\e2da';
}

.md-grade:after {
  content: '\e2db';
}

.md-gradient:after {
  content: '\e2dd';
}

.md-grain:after {
  content: '\e2de';
}

.md-graphic-eq:after {
  content: '\e2df';
}

.md-greater-than:after {
  content: '\e2e0';
}

.md-greater-than-equal:after {
  content: '\e2e1';
}

.md-grid-off:after {
  content: '\e2e2';
}

.md-grid-on:after {
  content: '\e2e4';
}

.md-group:after {
  content: '\e2e6';
}

.md-group-add:after {
  content: '\e2e8';
}

.md-group-work:after {
  content: '\e2ea';
}

.md-hd:after {
  content: '\e2ec';
}

.md-hdr-off:after {
  content: '\e2ee';
}

.md-hdr-on:after {
  content: '\e2ef';
}

.md-hdr-strong:after {
  content: '\e2f0';
}

.md-hdr-weak:after {
  content: '\e2f2';
}

.md-headset:after {
  content: '\e2f4';
}

.md-headset-mic:after {
  content: '\e2f6';
}

.md-healing:after {
  content: '\e2f8';
}

.md-hearing:after {
  content: '\e2fa';
}

.md-height:after {
  content: '\e2fb';
}

.md-help:after {
  content: '\e2fc';
}

.md-help-outline:after {
  content: '\e2fe';
}

.md-high-quality:after {
  content: '\e2ff';
}

.md-highlight:after {
  content: '\e301';
}

.md-highlight-off:after {
  content: '\e303';
}

.md-history:after {
  content: '\e305';
}

.md-home:after {
  content: '\e306';
}

.md-home-work:after {
  content: '\e308';
}

.md-horizontal-split:after {
  content: '\e30a';
}

.md-hot-tub:after {
  content: '\e30c';
}

.md-hotel:after {
  content: '\e30d';
}

.md-hourglass-empty:after {
  content: '\e30f';
}

.md-hourglass-full:after {
  content: '\e310';
}

.md-house:after {
  content: '\e312';
}

.md-how-to-reg:after {
  content: '\e314';
}

.md-how-to-vote:after {
  content: '\e316';
}

.md-http:after {
  content: '\e318';
}

.md-https:after {
  content: '\e319';
}

.md-image:after {
  content: '\e31b';
}

.md-image-aspect-ratio:after {
  content: '\e31d';
}

.md-image-search:after {
  content: '\e31f';
}

.md-import-contacts:after {
  content: '\e321';
}

.md-import-export:after {
  content: '\e323';
}

.md-important-devices:after {
  content: '\e324';
}

.md-inbox:after {
  content: '\e326';
}

.md-indeterminate-check-box:after {
  content: '\e328';
}

.md-info:after {
  content: '\e32a';
}

.md-input:after {
  content: '\e32c';
}

.md-insert-chart:after {
  content: '\e32d';
}

.md-insert-chart-outlined:after {
  content: '\e32f';
}

.md-insert-comment:after {
  content: '\e330';
}

.md-insert-drive-file:after {
  content: '\e332';
}

.md-insert-emoticon:after {
  content: '\e334';
}

.md-insert-invitation:after {
  content: '\e336';
}

.md-insert-link:after {
  content: '\e338';
}

.md-insert-photo:after {
  content: '\e339';
}

.md-invert-colors:after {
  content: '\e33b';
}

.md-invert-colors-off:after {
  content: '\e33d';
}

.md-iso:after {
  content: '\e33f';
}

.md-keyboard:after {
  content: '\e341';
}

.md-keyboard-arrow-down:after {
  content: '\e343';
}

.md-keyboard-arrow-left:after {
  content: '\e344';
}

.md-keyboard-arrow-right:after {
  content: '\e345';
}

.md-keyboard-arrow-up:after {
  content: '\e346';
}

.md-keyboard-backspace:after {
  content: '\e347';
}

.md-keyboard-capslock:after {
  content: '\e348';
}

.md-keyboard-hide:after {
  content: '\e349';
}

.md-keyboard-return:after {
  content: '\e34b';
}

.md-keyboard-tab:after {
  content: '\e34c';
}

.md-keyboard-voice:after {
  content: '\e34d';
}

.md-king-bed:after {
  content: '\e34f';
}

.md-kitchen:after {
  content: '\e351';
}

.md-label:after {
  content: '\e353';
}

.md-label-important:after {
  content: '\e355';
}

.md-label-off:after {
  content: '\e357';
}

.md-landscape:after {
  content: '\e359';
}

.md-language:after {
  content: '\e35b';
}

.md-laptop:after {
  content: '\e35d';
}

.md-laptop-chromebook:after {
  content: '\e35f';
}

.md-laptop-mac:after {
  content: '\e361';
}

.md-laptop-windows:after {
  content: '\e363';
}

.md-last-page:after {
  content: '\e365';
}

.md-launch:after {
  content: '\e366';
}

.md-layers:after {
  content: '\e367';
}

.md-layers-clear:after {
  content: '\e369';
}

.md-leak-add:after {
  content: '\e36b';
}

.md-leak-remove:after {
  content: '\e36c';
}

.md-lens:after {
  content: '\e36d';
}

.md-less-than:after {
  content: '\e36f';
}

.md-less-than-equal:after {
  content: '\e370';
}

.md-library-add:after {
  content: '\e371';
}

.md-library-books:after {
  content: '\e373';
}

.md-library-music:after {
  content: '\e375';
}

.md-lightbulb:after {
  content: '\e377';
}

.md-line-style:after {
  content: '\e379';
}

.md-line-weight:after {
  content: '\e37a';
}

.md-linear-scale:after {
  content: '\e37b';
}

.md-link:after {
  content: '\e37c';
}

.md-link-off:after {
  content: '\e37e';
}

.md-linked-camera:after {
  content: '\e37f';
}

.md-list:after {
  content: '\e381';
}

.md-list-alt:after {
  content: '\e382';
}

.md-live-help:after {
  content: '\e384';
}

.md-live-tv:after {
  content: '\e386';
}

.md-local-activity:after {
  content: '\e388';
}

.md-local-airport:after {
  content: '\e38a';
}

.md-local-atm:after {
  content: '\e38b';
}

.md-local-bar:after {
  content: '\e38d';
}

.md-local-cafe:after {
  content: '\e38f';
}

.md-local-car-wash:after {
  content: '\e391';
}

.md-local-convenience-store:after {
  content: '\e393';
}

.md-local-dining:after {
  content: '\e395';
}

.md-local-drink:after {
  content: '\e396';
}

.md-local-florist:after {
  content: '\e398';
}

.md-local-gas-station:after {
  content: '\e39a';
}

.md-local-grocery-store:after {
  content: '\e39c';
}

.md-local-hospital:after {
  content: '\e39e';
}

.md-local-hotel:after {
  content: '\e3a0';
}

.md-local-laundry-service:after {
  content: '\e3a2';
}

.md-local-library:after {
  content: '\e3a4';
}

.md-local-mall:after {
  content: '\e3a6';
}

.md-local-movies:after {
  content: '\e3a8';
}

.md-local-offer:after {
  content: '\e3aa';
}

.md-local-parking:after {
  content: '\e3ac';
}

.md-local-pharmacy:after {
  content: '\e3ad';
}

.md-local-phone:after {
  content: '\e3af';
}

.md-local-pizza:after {
  content: '\e3b1';
}

.md-local-play:after {
  content: '\e3b3';
}

.md-local-post-office:after {
  content: '\e3b5';
}

.md-local-printshop:after {
  content: '\e3b7';
}

.md-local-see:after {
  content: '\e3b9';
}

.md-local-shipping:after {
  content: '\e3bb';
}

.md-local-taxi:after {
  content: '\e3bd';
}

.md-location-city:after {
  content: '\e3bf';
}

.md-location-disabled:after {
  content: '\e3c0';
}

.md-location-off:after {
  content: '\e3c1';
}

.md-location-on:after {
  content: '\e3c2';
}

.md-location-searching:after {
  content: '\e3c4';
}

.md-lock:after {
  content: '\e3c5';
}

.md-lock-open:after {
  content: '\e3c7';
}

.md-log-in:after {
  content: '\e3c9';
}

.md-log-out:after {
  content: '\e3ca';
}

.md-looks:after {
  content: '\e3cb';
}

.md-looks-3:after {
  content: '\e3cc';
}

.md-looks-4:after {
  content: '\e3ce';
}

.md-looks-5:after {
  content: '\e3d0';
}

.md-looks-6:after {
  content: '\e3d2';
}

.md-looks-one:after {
  content: '\e3d4';
}

.md-looks-two:after {
  content: '\e3d6';
}

.md-loop:after {
  content: '\e3d8';
}

.md-loupe:after {
  content: '\e3d9';
}

.md-low-priority:after {
  content: '\e3db';
}

.md-loyalty:after {
  content: '\e3dc';
}

.md-mail:after {
  content: '\e3de';
}

.md-mail-outline:after {
  content: '\e3e0';
}

.md-map:after {
  content: '\e3e1';
}

.md-markunread:after {
  content: '\e3e3';
}

.md-markunread-mailbox:after {
  content: '\e3e5';
}

.md-maximize:after {
  content: '\e3e7';
}

.md-meeting-room:after {
  content: '\e3e8';
}

.md-memory:after {
  content: '\e3ea';
}

.md-menu:after {
  content: '\e3ec';
}

.md-menu-book:after {
  content: '\e3ed';
}

.md-menu-open:after {
  content: '\e3ef';
}

.md-merge-type:after {
  content: '\e3f0';
}

.md-message:after {
  content: '\e3f1';
}

.md-mic:after {
  content: '\e3f3';
}

.md-mic-none:after {
  content: '\e3f5';
}

.md-mic-off:after {
  content: '\e3f7';
}

.md-minimize:after {
  content: '\e3f9';
}

.md-minus:after {
  content: '\e3fa';
}

.md-missed-video-call:after {
  content: '\e3fb';
}

.md-mms:after {
  content: '\e3fd';
}

.md-mobile-friendly:after {
  content: '\e3ff';
}

.md-mobile-off:after {
  content: '\e400';
}

.md-mobile-screen-share:after {
  content: '\e401';
}

.md-mode-comment:after {
  content: '\e403';
}

.md-monetization-on:after {
  content: '\e405';
}

.md-money:after {
  content: '\e407';
}

.md-money-off:after {
  content: '\e409';
}

.md-monochrome-photos:after {
  content: '\e40a';
}

.md-mood:after {
  content: '\e40c';
}

.md-mood-bad:after {
  content: '\e40e';
}

.md-more:after {
  content: '\e410';
}

.md-more-horiz:after {
  content: '\e412';
}

.md-more-vert:after {
  content: '\e413';
}

.md-motorcycle:after {
  content: '\e414';
}

.md-mouse:after {
  content: '\e416';
}

.md-move-to-inbox:after {
  content: '\e418';
}

.md-movie:after {
  content: '\e41a';
}

.md-movie-creation:after {
  content: '\e41c';
}

.md-movie-filter:after {
  content: '\e41e';
}

.md-multiline-chart:after {
  content: '\e420';
}

.md-museum:after {
  content: '\e421';
}

.md-music-note:after {
  content: '\e423';
}

.md-music-off:after {
  content: '\e425';
}

.md-music-video:after {
  content: '\e427';
}

.md-my-location:after {
  content: '\e429';
}

.md-nature:after {
  content: '\e42b';
}

.md-nature-people:after {
  content: '\e42d';
}

.md-navigate-before:after {
  content: '\e42f';
}

.md-navigate-next:after {
  content: '\e430';
}

.md-navigation:after {
  content: '\e431';
}

.md-near-me:after {
  content: '\e433';
}

.md-network-cell:after {
  content: '\e435';
}

.md-network-cell:before {
  content: '\e436';
}

.md-network-check:after {
  content: '\e437';
}

.md-network-locked:after {
  content: '\e438';
}

.md-network-wifi:after {
  content: '\e439';
}

.md-network-wifi:before {
  content: '\e43a';
}

.md-new-releases:after {
  content: '\e43b';
}

.md-next-week:after {
  content: '\e43d';
}

.md-nfc:after {
  content: '\e43f';
}

.md-nights-stay:after {
  content: '\e440';
}

.md-no-encryption:after {
  content: '\e442';
}

.md-no-meeting-room:after {
  content: '\e444';
}

.md-no-sim:after {
  content: '\e446';
}

.md-not-equal:after {
  content: '\e448';
}

.md-not-interested:after {
  content: '\e449';
}

.md-not-listed-location:after {
  content: '\e44a';
}

.md-note:after {
  content: '\e44c';
}

.md-note-add:after {
  content: '\e44e';
}

.md-notes:after {
  content: '\e450';
}

.md-notification-important:after {
  content: '\e451';
}

.md-notifications:after {
  content: '\e453';
}

.md-notifications-active:after {
  content: '\e455';
}

.md-notifications-none:after {
  content: '\e457';
}

.md-notifications-off:after {
  content: '\e459';
}

.md-notifications-paused:after {
  content: '\e45b';
}

.md-offline-bolt:after {
  content: '\e45d';
}

.md-offline-pin:after {
  content: '\e45f';
}

.md-ondemand-video:after {
  content: '\e461';
}

.md-opacity:after {
  content: '\e463';
}

.md-open-in-browser:after {
  content: '\e465';
}

.md-open-in-new:after {
  content: '\e466';
}

.md-open-with:after {
  content: '\e467';
}

.md-outdoor-grill:after {
  content: '\e468';
}

.md-outlined-flag:after {
  content: '\e46a';
}

.md-pages:after {
  content: '\e46b';
}

.md-pageview:after {
  content: '\e46d';
}

.md-palette:after {
  content: '\e46f';
}

.md-pan-tool:after {
  content: '\e471';
}

.md-panorama:after {
  content: '\e473';
}

.md-panorama-fish-eye:after {
  content: '\e475';
}

.md-panorama-horizontal:after {
  content: '\e477';
}

.md-panorama-vertical:after {
  content: '\e479';
}

.md-panorama-wide-angle:after {
  content: '\e47b';
}

.md-party-mode:after {
  content: '\e47d';
}

.md-pause:after {
  content: '\e47f';
}

.md-pause-circle-filled:after {
  content: '\e480';
}

.md-pause-circle-outline:after {
  content: '\e482';
}

.md-pause-presentation:after {
  content: '\e483';
}

.md-payment:after {
  content: '\e485';
}

.md-people:after {
  content: '\e487';
}

.md-people-alt:after {
  content: '\e489';
}

.md-people-outline:after {
  content: '\e48b';
}

.md-percentage:after {
  content: '\e48d';
}

.md-perm-camera-mic:after {
  content: '\e48f';
}

.md-perm-contact-calendar:after {
  content: '\e491';
}

.md-perm-data-setting:after {
  content: '\e493';
}

.md-perm-device-information:after {
  content: '\e494';
}

.md-perm-identity:after {
  content: '\e496';
}

.md-perm-media:after {
  content: '\e498';
}

.md-perm-phone-msg:after {
  content: '\e49a';
}

.md-perm-scan-wifi:after {
  content: '\e49c';
}

.md-person:after {
  content: '\e49e';
}

.md-person-add:after {
  content: '\e4a0';
}

.md-person-add-disabled:after {
  content: '\e4a2';
}

.md-person-outline:after {
  content: '\e4a4';
}

.md-person-pin:after {
  content: '\e4a6';
}

.md-person-pin-circle:after {
  content: '\e4a8';
}

.md-personal-video:after {
  content: '\e4aa';
}

.md-pets:after {
  content: '\e4ac';
}

.md-phone:after {
  content: '\e4ad';
}

.md-phone-android:after {
  content: '\e4af';
}

.md-phone-bluetooth-speaker:after {
  content: '\e4b1';
}

.md-phone-callback:after {
  content: '\e4b3';
}

.md-phone-disabled:after {
  content: '\e4b5';
}

.md-phone-enabled:after {
  content: '\e4b6';
}

.md-phone-forwarded:after {
  content: '\e4b7';
}

.md-phone-in-talk:after {
  content: '\e4b9';
}

.md-phone-iphone:after {
  content: '\e4bb';
}

.md-phone-locked:after {
  content: '\e4bd';
}

.md-phone-missed:after {
  content: '\e4bf';
}

.md-phone-paused:after {
  content: '\e4c1';
}

.md-phonelink:after {
  content: '\e4c3';
}

.md-phonelink-erase:after {
  content: '\e4c5';
}

.md-phonelink-lock:after {
  content: '\e4c6';
}

.md-phonelink-off:after {
  content: '\e4c7';
}

.md-phonelink-ring:after {
  content: '\e4c9';
}

.md-phonelink-setup:after {
  content: '\e4cb';
}

.md-photo:after {
  content: '\e4cc';
}

.md-photo-album:after {
  content: '\e4ce';
}

.md-photo-camera:after {
  content: '\e4d0';
}

.md-photo-filter:after {
  content: '\e4d2';
}

.md-photo-library:after {
  content: '\e4d3';
}

.md-photo-size-select-actual:after {
  content: '\e4d5';
}

.md-photo-size-select-large:after {
  content: '\e4d7';
}

.md-photo-size-select-small:after {
  content: '\e4d8';
}

.md-picture-as-pdf:after {
  content: '\e4d9';
}

.md-picture-in-picture:after {
  content: '\e4db';
}

.md-picture-in-picture-alt:after {
  content: '\e4dd';
}

.md-pie-chart:after {
  content: '\e4df';
}

.md-pin:after {
  content: '\e4e1';
}

.md-pin-drop:after {
  content: '\e4e3';
}

.md-pin-off:after {
  content: '\e4e5';
}

.md-place:after {
  content: '\e4e7';
}

.md-play-arrow:after {
  content: '\e4e9';
}

.md-play-circle-filled:after {
  content: '\e4eb';
}

.md-play-circle-filled-white:after {
  content: '\e4ed';
}

.md-play-circle-outline:after {
  content: '\e4ef';
}

.md-play-for-work:after {
  content: '\e4f0';
}

.md-playlist-add:after {
  content: '\e4f1';
}

.md-playlist-add-check:after {
  content: '\e4f2';
}

.md-playlist-play:after {
  content: '\e4f3';
}

.md-plus:after {
  content: '\e4f4';
}

.md-plus-minus:after {
  content: '\e4f5';
}

.md-plus-minus-alt:after {
  content: '\e4f6';
}

.md-plus-one:after {
  content: '\e4f7';
}

.md-policy:after {
  content: '\e4f8';
}

.md-poll:after {
  content: '\e4fa';
}

.md-polymer:after {
  content: '\e4fc';
}

.md-pool:after {
  content: '\e4fd';
}

.md-portable-wifi-off:after {
  content: '\e4ff';
}

.md-portrait:after {
  content: '\e500';
}

.md-post-add:after {
  content: '\e502';
}

.md-power:after {
  content: '\e503';
}

.md-power-input:after {
  content: '\e505';
}

.md-power-off:after {
  content: '\e506';
}

.md-power-settings-new:after {
  content: '\e508';
}

.md-pregnant-woman:after {
  content: '\e509';
}

.md-present-to-all:after {
  content: '\e50a';
}

.md-print:after {
  content: '\e50c';
}

.md-print-disabled:after {
  content: '\e50e';
}

.md-priority-high:after {
  content: '\e510';
}

.md-public:after {
  content: '\e511';
}

.md-publish:after {
  content: '\e513';
}

.md-qrcode:after {
  content: '\e515';
}

.md-query-builder:after {
  content: '\e517';
}

.md-question-answer:after {
  content: '\e519';
}

.md-queue:after {
  content: '\e51b';
}

.md-queue-music:after {
  content: '\e51d';
}

.md-queue-play-next:after {
  content: '\e51f';
}

.md-radio:after {
  content: '\e520';
}

.md-radio-button-checked:after {
  content: '\e522';
}

.md-radio-button-unchecked:after {
  content: '\e523';
}

.md-rate-review:after {
  content: '\e524';
}

.md-receipt:after {
  content: '\e526';
}

.md-recent-actors:after {
  content: '\e528';
}

.md-record-voice-over:after {
  content: '\e52a';
}

.md-redeem:after {
  content: '\e52c';
}

.md-redo:after {
  content: '\e52e';
}

.md-refresh:after {
  content: '\e52f';
}

.md-remove:after {
  content: '\e530';
}

.md-remove-circle:after {
  content: '\e531';
}

.md-remove-circle-outline:after {
  content: '\e533';
}

.md-remove-from-queue:after {
  content: '\e534';
}

.md-remove-red-eye:after {
  content: '\e536';
}

.md-remove-shopping-cart:after {
  content: '\e538';
}

.md-reorder:after {
  content: '\e53a';
}

.md-repeat:after {
  content: '\e53b';
}

.md-repeat-one:after {
  content: '\e53c';
}

.md-replay:after {
  content: '\e53d';
}

.md-replay-10:after {
  content: '\e53e';
}

.md-replay-30:after {
  content: '\e53f';
}

.md-replay-5:after {
  content: '\e540';
}

.md-reply:after {
  content: '\e541';
}

.md-reply-all:after {
  content: '\e542';
}

.md-report:after {
  content: '\e543';
}

.md-report-off:after {
  content: '\e545';
}

.md-report-problem:after {
  content: '\e547';
}

.md-restaurant:after {
  content: '\e549';
}

.md-restaurant-menu:after {
  content: '\e54a';
}

.md-restore:after {
  content: '\e54b';
}

.md-restore-from-trash:after {
  content: '\e54c';
}

.md-restore-page:after {
  content: '\e54e';
}

.md-ring-volume:after {
  content: '\e550';
}

.md-rocket:after {
  content: '\e552';
}

.md-room:after {
  content: '\e554';
}

.md-room-service:after {
  content: '\e556';
}

.md-rotate-90-degrees-ccw:after {
  content: '\e558';
}

.md-rotate-left:after {
  content: '\e55a';
}

.md-rotate-right:after {
  content: '\e55b';
}

.md-rounded-corner:after {
  content: '\e55c';
}

.md-router:after {
  content: '\e55d';
}

.md-rowing:after {
  content: '\e55f';
}

.md-rss-feed:after {
  content: '\e560';
}

.md-rv-hookup:after {
  content: '\e561';
}

.md-satellite:after {
  content: '\e563';
}

.md-save:after {
  content: '\e565';
}

.md-save-alt:after {
  content: '\e567';
}

.md-scanner:after {
  content: '\e568';
}

.md-scatter-plot:after {
  content: '\e56a';
}

.md-schedule:after {
  content: '\e56c';
}

.md-school:after {
  content: '\e56e';
}

.md-score:after {
  content: '\e570';
}

.md-screen-lock-landscape:after {
  content: '\e572';
}

.md-screen-lock-portrait:after {
  content: '\e574';
}

.md-screen-lock-rotation:after {
  content: '\e576';
}

.md-screen-rotation:after {
  content: '\e577';
}

.md-screen-share:after {
  content: '\e579';
}

.md-sd-card:after {
  content: '\e57b';
}

.md-sd-storage:after {
  content: '\e57d';
}

.md-search:after {
  content: '\e57f';
}

.md-security:after {
  content: '\e580';
}

.md-select-all:after {
  content: '\e582';
}

.md-send:after {
  content: '\e583';
}

.md-sentiment-dissatisfied:after {
  content: '\e585';
}

.md-sentiment-neutral:after {
  content: '\e587';
}

.md-sentiment-satisfied:after {
  content: '\e589';
}

.md-sentiment-satisfied-alt:after {
  content: '\e58b';
}

.md-sentiment-slightly-dissatisfied:after {
  content: '\e58d';
}

.md-sentiment-very-dissatisfied:after {
  content: '\e58f';
}

.md-sentiment-very-satisfied:after {
  content: '\e591';
}

.md-settings:after {
  content: '\e593';
}

.md-settings-applications:after {
  content: '\e595';
}

.md-settings-backup-restore:after {
  content: '\e597';
}

.md-settings-bluetooth:after {
  content: '\e598';
}

.md-settings-brightness:after {
  content: '\e599';
}

.md-settings-cell:after {
  content: '\e59b';
}

.md-settings-ethernet:after {
  content: '\e59d';
}

.md-settings-input-antenna:after {
  content: '\e59e';
}

.md-settings-input-component:after {
  content: '\e59f';
}

.md-settings-input-composite:after {
  content: '\e5a1';
}

.md-settings-input-hdmi:after {
  content: '\e5a3';
}

.md-settings-input-svideo:after {
  content: '\e5a5';
}

.md-settings-overscan:after {
  content: '\e5a7';
}

.md-settings-phone:after {
  content: '\e5a9';
}

.md-settings-power:after {
  content: '\e5ab';
}

.md-settings-remote:after {
  content: '\e5ac';
}

.md-settings-system-daydream:after {
  content: '\e5ae';
}

.md-settings-voice:after {
  content: '\e5b0';
}

.md-share:after {
  content: '\e5b2';
}

.md-shop:after {
  content: '\e5b4';
}

.md-shop-two:after {
  content: '\e5b6';
}

.md-shopping-basket:after {
  content: '\e5b8';
}

.md-shopping-cart:after {
  content: '\e5ba';
}

.md-short-text:after {
  content: '\e5bc';
}

.md-show-chart:after {
  content: '\e5bd';
}

.md-shuffle:after {
  content: '\e5be';
}

.md-shutter-speed:after {
  content: '\e5bf';
}

.md-signal-cellular-0-bar:after {
  content: '\e5c1';
}

.md-signal-cellular-0-bar:before {
  content: '\e5c2';
}

.md-signal-cellular-1-bar:after {
  content: '\e5c3';
}

.md-signal-cellular-1-bar:before {
  content: '\e5c4';
}

.md-signal-cellular-2-bar:after {
  content: '\e5c5';
}

.md-signal-cellular-2-bar:before {
  content: '\e5c6';
}

.md-signal-cellular-3-bar:after {
  content: '\e5c7';
}

.md-signal-cellular-3-bar:before {
  content: '\e5c8';
}

.md-signal-cellular-4-bar:after {
  content: '\e5c9';
}

.md-signal-cellular-alt:after {
  content: '\e5ca';
}

.md-signal-cellular-connected-no-internet-0-bar:after {
  content: '\e5cb';
}

.md-signal-cellular-connected-no-internet-0-bar:before {
  content: '\e5cc';
}

.md-signal-cellular-connected-no-internet-1-bar:after {
  content: '\e5cd';
}

.md-signal-cellular-connected-no-internet-1-bar:before {
  content: '\e5ce';
}

.md-signal-cellular-connected-no-internet-2-bar:after {
  content: '\e5cf';
}

.md-signal-cellular-connected-no-internet-2-bar:before {
  content: '\e5d0';
}

.md-signal-cellular-connected-no-internet-3-bar:after {
  content: '\e5d1';
}

.md-signal-cellular-connected-no-internet-3-bar:before {
  content: '\e5d2';
}

.md-signal-cellular-connected-no-internet-4-bar:after {
  content: '\e5d3';
}

.md-signal-cellular-no-sim:after {
  content: '\e5d4';
}

.md-signal-cellular-null:after {
  content: '\e5d6';
}

.md-signal-cellular-off:after {
  content: '\e5d7';
}

.md-signal-wifi-0-bar:after {
  content: '\e5d8';
}

.md-signal-wifi-0-bar:before {
  content: '\e5d9';
}

.md-signal-wifi-1-bar:after {
  content: '\e5da';
}

.md-signal-wifi-1-bar:before {
  content: '\e5db';
}

.md-signal-wifi-1-bar-lock:after {
  content: '\e5dc';
}

.md-signal-wifi-1-bar-lock:before {
  content: '\e5dd';
}

.md-signal-wifi-2-bar:after {
  content: '\e5de';
}

.md-signal-wifi-2-bar:before {
  content: '\e5df';
}

.md-signal-wifi-2-bar-lock:after {
  content: '\e5e0';
}

.md-signal-wifi-2-bar-lock:before {
  content: '\e5e1';
}

.md-signal-wifi-3-bar:after {
  content: '\e5e2';
}

.md-signal-wifi-3-bar:before {
  content: '\e5e3';
}

.md-signal-wifi-3-bar-lock:after {
  content: '\e5e4';
}

.md-signal-wifi-3-bar-lock:before {
  content: '\e5e5';
}

.md-signal-wifi-4-bar:after {
  content: '\e5e6';
}

.md-signal-wifi-4-bar-lock:after {
  content: '\e5e7';
}

.md-signal-wifi-off:after {
  content: '\e5e8';
}

.md-sim-card:after {
  content: '\e5e9';
}

.md-sim-card-alert:after {
  content: '\e5eb';
}

.md-single-bed:after {
  content: '\e5ed';
}

.md-skip-next:after {
  content: '\e5ef';
}

.md-skip-previous:after {
  content: '\e5f1';
}

.md-slideshow:after {
  content: '\e5f3';
}

.md-slow-motion-video:after {
  content: '\e5f5';
}

.md-smartphone:after {
  content: '\e5f6';
}

.md-smoke-free:after {
  content: '\e5f8';
}

.md-smoking-rooms:after {
  content: '\e5f9';
}

.md-sms:after {
  content: '\e5fb';
}

.md-sms-failed:after {
  content: '\e5fd';
}

.md-snooze:after {
  content: '\e5ff';
}

.md-sort:after {
  content: '\e600';
}

.md-sort-by-alpha:after {
  content: '\e601';
}

.md-spa:after {
  content: '\e602';
}

.md-space-bar:after {
  content: '\e604';
}

.md-speaker:after {
  content: '\e605';
}

.md-speaker-group:after {
  content: '\e607';
}

.md-speaker-notes:after {
  content: '\e609';
}

.md-speaker-notes-off:after {
  content: '\e60b';
}

.md-speaker-phone:after {
  content: '\e60d';
}

.md-speed:after {
  content: '\e60f';
}

.md-spellcheck:after {
  content: '\e610';
}

.md-sports:after {
  content: '\e611';
}

.md-sports-baseball:after {
  content: '\e612';
}

.md-sports-basketball:after {
  content: '\e614';
}

.md-sports-cricket:after {
  content: '\e616';
}

.md-sports-esports:after {
  content: '\e618';
}

.md-sports-football:after {
  content: '\e61a';
}

.md-sports-golf:after {
  content: '\e61c';
}

.md-sports-handball:after {
  content: '\e61e';
}

.md-sports-hockey:after {
  content: '\e61f';
}

.md-sports-kabaddi:after {
  content: '\e620';
}

.md-sports-mma:after {
  content: '\e621';
}

.md-sports-motorsports:after {
  content: '\e623';
}

.md-sports-rugby:after {
  content: '\e625';
}

.md-sports-soccer:after {
  content: '\e627';
}

.md-sports-tennis:after {
  content: '\e629';
}

.md-sports-volleyball:after {
  content: '\e62a';
}

.md-square-foot:after {
  content: '\e62c';
}

.md-star:after {
  content: '\e62e';
}

.md-star-border:after {
  content: '\e630';
}

.md-star-half:after {
  content: '\e631';
}

.md-star-rate:after {
  content: '\e632';
}

.md-stars:after {
  content: '\e633';
}

.md-stay-current-landscape:after {
  content: '\e635';
}

.md-stay-current-portrait:after {
  content: '\e637';
}

.md-stay-primary-landscape:after {
  content: '\e639';
}

.md-stay-primary-portrait:after {
  content: '\e63b';
}

.md-stop:after {
  content: '\e63d';
}

.md-stop-circle:after {
  content: '\e63f';
}

.md-stop-screen-share:after {
  content: '\e641';
}

.md-storage:after {
  content: '\e643';
}

.md-store:after {
  content: '\e644';
}

.md-store-mall-directory:after {
  content: '\e646';
}

.md-storefront:after {
  content: '\e648';
}

.md-straighten:after {
  content: '\e64a';
}

.md-streetview:after {
  content: '\e64c';
}

.md-strikethrough-s:after {
  content: '\e64d';
}

.md-style:after {
  content: '\e64e';
}

.md-subdirectory-arrow-left:after {
  content: '\e650';
}

.md-subdirectory-arrow-right:after {
  content: '\e651';
}

.md-subject:after {
  content: '\e652';
}

.md-subscriptions:after {
  content: '\e653';
}

.md-subtitles:after {
  content: '\e655';
}

.md-subway:after {
  content: '\e657';
}

.md-supervised-user-circle:after {
  content: '\e659';
}

.md-supervisor-account:after {
  content: '\e65b';
}

.md-surround-sound:after {
  content: '\e65d';
}

.md-swap-calls:after {
  content: '\e65f';
}

.md-swap-horiz:after {
  content: '\e660';
}

.md-swap-horizontal-circle:after {
  content: '\e661';
}

.md-swap-vert:after {
  content: '\e663';
}

.md-swap-vertical-circle:after {
  content: '\e664';
}

.md-switch-camera:after {
  content: '\e666';
}

.md-switch-video:after {
  content: '\e668';
}

.md-sync:after {
  content: '\e66a';
}

.md-sync-alt:after {
  content: '\e66b';
}

.md-sync-disabled:after {
  content: '\e66c';
}

.md-sync-problem:after {
  content: '\e66d';
}

.md-system-update:after {
  content: '\e66e';
}

.md-system-update-alt:after {
  content: '\e670';
}

.md-tab:after {
  content: '\e671';
}

.md-tab-unselected:after {
  content: '\e672';
}

.md-table-chart:after {
  content: '\e673';
}

.md-tablet:after {
  content: '\e675';
}

.md-tablet-android:after {
  content: '\e677';
}

.md-tablet-mac:after {
  content: '\e679';
}

.md-tag-faces:after {
  content: '\e67b';
}

.md-tap-and-play:after {
  content: '\e67d';
}

.md-terrain:after {
  content: '\e67e';
}

.md-text-fields:after {
  content: '\e680';
}

.md-text-format:after {
  content: '\e681';
}

.md-text-rotate-up:after {
  content: '\e682';
}

.md-text-rotate-vertical:after {
  content: '\e683';
}

.md-text-rotation-angledown:after {
  content: '\e684';
}

.md-text-rotation-angleup:after {
  content: '\e685';
}

.md-text-rotation-down:after {
  content: '\e686';
}

.md-text-rotation-none:after {
  content: '\e687';
}

.md-textsms:after {
  content: '\e688';
}

.md-texture:after {
  content: '\e68a';
}

.md-theaters:after {
  content: '\e68b';
}

.md-thumb-down:after {
  content: '\e68d';
}

.md-thumb-down-alt:after {
  content: '\e68f';
}

.md-thumb-up:after {
  content: '\e691';
}

.md-thumb-up-alt:after {
  content: '\e693';
}

.md-thumbs-up-down:after {
  content: '\e695';
}

.md-time-to-leave:after {
  content: '\e697';
}

.md-timelapse:after {
  content: '\e699';
}

.md-timeline:after {
  content: '\e69b';
}

.md-timer:after {
  content: '\e69c';
}

.md-timer-10:after {
  content: '\e69e';
}

.md-timer-3:after {
  content: '\e69f';
}

.md-timer-off:after {
  content: '\e6a0';
}

.md-title:after {
  content: '\e6a2';
}

.md-toc:after {
  content: '\e6a3';
}

.md-today:after {
  content: '\e6a4';
}

.md-toggle-off:after {
  content: '\e6a6';
}

.md-toggle-on:after {
  content: '\e6a8';
}

.md-toll:after {
  content: '\e6aa';
}

.md-tonality:after {
  content: '\e6ac';
}

.md-touch-app:after {
  content: '\e6ae';
}

.md-toys:after {
  content: '\e6b0';
}

.md-track-changes:after {
  content: '\e6b2';
}

.md-traffic:after {
  content: '\e6b3';
}

.md-train:after {
  content: '\e6b5';
}

.md-tram:after {
  content: '\e6b7';
}

.md-transfer-within-a-station:after {
  content: '\e6b9';
}

.md-transform:after {
  content: '\e6ba';
}

.md-transit-enterexit:after {
  content: '\e6bb';
}

.md-translate:after {
  content: '\e6bc';
}

.md-trending-down:after {
  content: '\e6bd';
}

.md-trending-flat:after {
  content: '\e6be';
}

.md-trending-up:after {
  content: '\e6bf';
}

.md-trip-origin:after {
  content: '\e6c0';
}

.md-tune:after {
  content: '\e6c1';
}

.md-turned-in:after {
  content: '\e6c2';
}

.md-turned-in-not:after {
  content: '\e6c4';
}

.md-tv:after {
  content: '\e6c5';
}

.md-tv-off:after {
  content: '\e6c7';
}

.md-unarchive:after {
  content: '\e6c9';
}

.md-undo:after {
  content: '\e6cb';
}

.md-unfold-less:after {
  content: '\e6cc';
}

.md-unfold-more:after {
  content: '\e6cd';
}

.md-unsubscribe:after {
  content: '\e6ce';
}

.md-update:after {
  content: '\e6d0';
}

.md-usb:after {
  content: '\e6d1';
}

.md-verified-user:after {
  content: '\e6d2';
}

.md-vertical-align-bottom:after {
  content: '\e6d4';
}

.md-vertical-align-center:after {
  content: '\e6d5';
}

.md-vertical-align-top:after {
  content: '\e6d6';
}

.md-vertical-split:after {
  content: '\e6d7';
}

.md-vibration:after {
  content: '\e6d9';
}

.md-video-call:after {
  content: '\e6db';
}

.md-video-label:after {
  content: '\e6dd';
}

.md-video-library:after {
  content: '\e6df';
}

.md-videocam:after {
  content: '\e6e1';
}

.md-videocam-off:after {
  content: '\e6e3';
}

.md-videogame-asset:after {
  content: '\e6e5';
}

.md-view-agenda:after {
  content: '\e6e7';
}

.md-view-array:after {
  content: '\e6e9';
}

.md-view-carousel:after {
  content: '\e6eb';
}

.md-view-column:after {
  content: '\e6ed';
}

.md-view-comfy:after {
  content: '\e6ef';
}

.md-view-compact:after {
  content: '\e6f1';
}

.md-view-day:after {
  content: '\e6f3';
}

.md-view-headline:after {
  content: '\e6f5';
}

.md-view-list:after {
  content: '\e6f6';
}

.md-view-module:after {
  content: '\e6f8';
}

.md-view-quilt:after {
  content: '\e6fa';
}

.md-view-stream:after {
  content: '\e6fc';
}

.md-view-week:after {
  content: '\e6fe';
}

.md-vignette:after {
  content: '\e700';
}

.md-visibility:after {
  content: '\e702';
}

.md-visibility-off:after {
  content: '\e704';
}

.md-voice-chat:after {
  content: '\e706';
}

.md-voice-over-off:after {
  content: '\e708';
}

.md-voicemail:after {
  content: '\e70a';
}

.md-volume-down:after {
  content: '\e70b';
}

.md-volume-mute:after {
  content: '\e70d';
}

.md-volume-off:after {
  content: '\e70f';
}

.md-volume-up:after {
  content: '\e711';
}

.md-vpn-key:after {
  content: '\e713';
}

.md-vpn-lock:after {
  content: '\e715';
}

.md-wallpaper:after {
  content: '\e717';
}

.md-warning:after {
  content: '\e718';
}

.md-watch:after {
  content: '\e71a';
}

.md-watch-later:after {
  content: '\e71c';
}

.md-waves:after {
  content: '\e71e';
}

.md-wb-auto:after {
  content: '\e71f';
}

.md-wb-cloudy:after {
  content: '\e721';
}

.md-wb-incandescent:after {
  content: '\e723';
}

.md-wb-iridescent:after {
  content: '\e725';
}

.md-wb-sunny:after {
  content: '\e727';
}

.md-wc:after {
  content: '\e729';
}

.md-web:after {
  content: '\e72a';
}

.md-web-asset:after {
  content: '\e72c';
}

.md-weekend:after {
  content: '\e72e';
}

.md-whatshot:after {
  content: '\e730';
}

.md-where-to-vote:after {
  content: '\e732';
}

.md-widgets:after {
  content: '\e734';
}

.md-wifi:after {
  content: '\e736';
}

.md-wifi-lock:after {
  content: '\e737';
}

.md-wifi-off:after {
  content: '\e738';
}

.md-wifi-tethering:after {
  content: '\e739';
}

.md-work:after {
  content: '\e73a';
}

.md-work-off:after {
  content: '\e73c';
}

.md-work-outline:after {
  content: '\e73e';
}

.md-wrap-text:after {
  content: '\e73f';
}

.md-youtube-searched-for:after {
  content: '\e740';
}

.md-zoom-in:after {
  content: '\e741';
}

.md-zoom-out:after {
  content: '\e742';
}

.md-zoom-out-map:after {
  content: '\e743';
}
