@charset "UTF-8";

$font-path: '../font/';

$default-family: 'Material Icons';
$default-theme: 'baseline';
$default-filename: 'MaterialIcons';

$extra-themes: (
  
);

$icons: (
  '360': e000,
  '3d-rotation': e001,
  '4k': e002,
  'ac-unit': e004,
  'access-alarm': e005,
  'access-alarms': e007,
  'access-time': e009,
  'accessibility': e00b,
  'accessibility-new': e00c,
  'accessible': e00d,
  'accessible-forward': e00e,
  'account-balance': e00f,
  'account-balance-wallet': e011,
  'account-box': e013,
  'account-circle': e015,
  'account-tree': e017,
  'adb': e019,
  'add': e01a,
  'add-a-photo': e01b,
  'add-alarm': e01d,
  'add-alert': e01f,
  'add-box': e021,
  'add-circle': e023,
  'add-circle-outline': e025,
  'add-comment': e026,
  'add-location': e028,
  'add-photo-alternate': e02a,
  'add-shopping-cart': e02c,
  'add-to-home-screen': e02d,
  'add-to-photos': e02e,
  'add-to-queue': e030,
  'adjust': e032,
  'airline-seat-flat': e033,
  'airline-seat-flat-angled': e035,
  'airline-seat-individual-suite': e037,
  'airline-seat-legroom-extra': e039,
  'airline-seat-legroom-normal': e03a,
  'airline-seat-legroom-reduced': e03b,
  'airline-seat-recline-extra': e03c,
  'airline-seat-recline-normal': e03d,
  'airplanemode-active': e03e,
  'airplanemode-inactive': e03f,
  'airplay': e040,
  'airport-shuttle': e041,
  'alarm': e043,
  'alarm-add': e045,
  'alarm-off': e047,
  'alarm-on': e048,
  'album': e04a,
  'all-inbox': e04c,
  'all-inclusive': e04e,
  'all-out': e04f,
  'alternate-email': e051,
  'amp-stories': e053,
  'android': e055,
  'announcement': e056,
  'apartment': e058,
  'apps': e059,
  'archive': e05a,
  'arrow-back': e05c,
  'arrow-back-ios': e05d,
  'arrow-downward': e05e,
  'arrow-drop-down': e05f,
  'arrow-drop-down-circle': e060,
  'arrow-drop-up': e062,
  'arrow-forward': e063,
  'arrow-forward-ios': e064,
  'arrow-left': e065,
  'arrow-right': e066,
  'arrow-right-alt': e067,
  'arrow-upward': e068,
  'art-track': e069,
  'aspect-ratio': e06a,
  'assessment': e06c,
  'assignment': e06e,
  'assignment-ind': e070,
  'assignment-late': e072,
  'assignment-return': e074,
  'assignment-returned': e076,
  'assignment-turned-in': e078,
  'assistant': e07a,
  'assistant-photo': e07c,
  'atm': e07e,
  'attach-file': e07f,
  'attach-money': e080,
  'attachment': e081,
  'audiotrack': e082,
  'autorenew': e084,
  'av-timer': e085,
  'backspace': e086,
  'backup': e088,
  'ballot': e08a,
  'bar-chart': e08c,
  'barcode': e08d,
  'bathtub': e08e,
  'battery-20': (e090, e091),
  'battery-30': (e092, e093),
  'battery-50': (e094, e095),
  'battery-60': (e096, e097),
  'battery-80': (e098, e099),
  'battery-90': (e09a, e09b),
  'battery-alert': e09c,
  'battery-charging-20': (e09d, e09e),
  'battery-charging-30': (e09f, e0a0),
  'battery-charging-50': (e0a1, e0a2),
  'battery-charging-60': (e0a3, e0a4),
  'battery-charging-80': (e0a5, e0a6),
  'battery-charging-90': (e0a7, e0a8),
  'battery-charging-full': e0a9,
  'battery-full': e0aa,
  'battery-std': e0ab,
  'battery-unknown': e0ac,
  'beach-access': e0ad,
  'beenhere': e0af,
  'block': e0b1,
  'bluetooth': e0b2,
  'bluetooth-audio': e0b3,
  'bluetooth-connected': e0b4,
  'bluetooth-disabled': e0b5,
  'bluetooth-searching': e0b6,
  'blur-circular': e0b7,
  'blur-linear': e0b8,
  'blur-off': e0b9,
  'blur-on': e0ba,
  'book': e0bb,
  'bookmark': e0bd,
  'bookmark-border': e0bf,
  'bookmarks': e0c0,
  'border-all': e0c2,
  'border-bottom': e0c3,
  'border-clear': e0c4,
  'border-color': (e0c5, e0c6),
  'border-horizontal': e0c7,
  'border-inner': e0c8,
  'border-left': e0c9,
  'border-outer': e0ca,
  'border-right': e0cb,
  'border-style': e0cc,
  'border-top': e0cd,
  'border-vertical': e0ce,
  'branding-watermark': e0cf,
  'brightness-1': e0d1,
  'brightness-2': e0d3,
  'brightness-3': e0d5,
  'brightness-4': e0d7,
  'brightness-5': e0d9,
  'brightness-6': e0db,
  'brightness-7': e0dd,
  'brightness-auto': e0df,
  'brightness-high': e0e1,
  'brightness-low': e0e3,
  'brightness-medium': e0e5,
  'broken-image': e0e7,
  'brush': e0e9,
  'bubble-chart': e0eb,
  'bug-report': e0ed,
  'build': e0ef,
  'burst-mode': e0f1,
  'business': e0f3,
  'business-center': e0f5,
  'cached': e0f7,
  'cake': e0f8,
  'calendar-today': e0fa,
  'calendar-view-day': e0fc,
  'call': e0fe,
  'call-end': e100,
  'call-made': e102,
  'call-merge': e103,
  'call-missed': e104,
  'call-missed-outgoing': e105,
  'call-received': e106,
  'call-split': e107,
  'call-to-action': e108,
  'camera': e10a,
  'camera-alt': e10c,
  'camera-enhance': e10e,
  'camera-front': e110,
  'camera-rear': e112,
  'camera-roll': e114,
  'cancel': e116,
  'cancel-presentation': e118,
  'cancel-schedule-send': e11a,
  'card-giftcard': e11c,
  'card-membership': e11e,
  'card-travel': e120,
  'casino': e122,
  'cast': e124,
  'cast-connected': e125,
  'cast-for-education': e127,
  'category': e128,
  'cell-wifi': (e12a, e12b),
  'center-focus-strong': e12c,
  'center-focus-weak': e12e,
  'change-history': e130,
  'chat': e132,
  'chat-bubble': e134,
  'chat-bubble-outline': e136,
  'check': e137,
  'check-box': e138,
  'check-box-outline-blank': e13a,
  'check-circle': e13b,
  'check-circle-outline': e13d,
  'chevron-left': e13e,
  'chevron-right': e13f,
  'child-care': e140,
  'child-friendly': e142,
  'chrome-reader-mode': e144,
  'class': e146,
  'clear': e148,
  'clear-all': e149,
  'close': e14a,
  'closed-caption': e14b,
  'cloud': e14d,
  'cloud-circle': e14f,
  'cloud-done': e151,
  'cloud-download': e153,
  'cloud-off': e155,
  'cloud-queue': e157,
  'cloud-upload': e159,
  'code': e15b,
  'collections': e15c,
  'collections-bookmark': e15e,
  'color-lens': e160,
  'colorize': e162,
  'comment': e164,
  'commute': e166,
  'compare': e167,
  'compare-arrows': e169,
  'compass-calibration': e16a,
  'computer': e16c,
  'confirmation-number': e16e,
  'contact-mail': e170,
  'contact-phone': e172,
  'contact-support': e174,
  'contactless': e176,
  'contacts': e178,
  'content-copy': e17a,
  'content-cut': e17c,
  'content-paste': e17e,
  'control-camera': e180,
  'control-point': e181,
  'control-point-duplicate': e183,
  'copyright': e185,
  'create': e187,
  'create-new-folder': e189,
  'credit-card': e18b,
  'crop': e18d,
  'crop-16-9': e18e,
  'crop-3-2': e18f,
  'crop-5-4': e190,
  'crop-7-5': e191,
  'crop-din': e192,
  'crop-free': e193,
  'crop-landscape': e194,
  'crop-original': e195,
  'crop-portrait': e196,
  'crop-rotate': e197,
  'crop-square': e198,
  'dashboard': e199,
  'data-usage': e19b,
  'date-range': e19c,
  'deck': e19e,
  'dehaze': e1a0,
  'delete': e1a1,
  'delete-forever': e1a3,
  'delete-outline': e1a5,
  'delete-sweep': e1a6,
  'departure-board': e1a8,
  'description': e1aa,
  'desktop-access-disabled': e1ac,
  'desktop-mac': e1ae,
  'desktop-windows': e1b0,
  'details': e1b2,
  'developer-board': e1b4,
  'developer-mode': e1b6,
  'device-hub': e1b7,
  'device-unknown': e1b8,
  'devices': e1ba,
  'devices-other': e1bc,
  'dialer-sip': e1be,
  'dialpad': e1c0,
  'directions': e1c1,
  'directions-bike': e1c3,
  'directions-boat': e1c4,
  'directions-bus': e1c6,
  'directions-car': e1c8,
  'directions-railway': e1ca,
  'directions-run': e1cc,
  'directions-subway': e1cd,
  'directions-transit': e1cf,
  'directions-walk': e1d1,
  'disc-full': e1d2,
  'divide': e1d4,
  'dns': e1d6,
  'do-not-disturb': e1d8,
  'do-not-disturb-alt': e1da,
  'do-not-disturb-off': e1dc,
  'dock': e1de,
  'domain': e1e0,
  'domain-disabled': e1e2,
  'done': e1e4,
  'done-all': e1e5,
  'done-outline': e1e6,
  'donut-large': e1e7,
  'donut-small': e1e8,
  'double-arrow': e1ea,
  'drafts': e1eb,
  'drag-handle': e1ed,
  'drag-indicator': e1ee,
  'drive-eta': e1ef,
  'duo': e1f1,
  'dvr': e1f2,
  'dynamic-feed': e1f4,
  'eco': e1f6,
  'edit': e1f8,
  'edit-attributes': e1fa,
  'edit-location': e1fc,
  'eject': e1fe,
  'email': e200,
  'emoji-emotions': e202,
  'emoji-events': e204,
  'emoji-flags': e206,
  'emoji-food-beverage': e208,
  'emoji-nature': e20a,
  'emoji-objects': e20c,
  'emoji-people': e20e,
  'emoji-symbols': e20f,
  'emoji-transportation': e210,
  'enhanced-encryption': e211,
  'equalizer': e213,
  'equals': e214,
  'error': e215,
  'error-outline': e217,
  'euro': e218,
  'euro-symbol': e219,
  'ev-station': e21a,
  'event': e21c,
  'event-available': e21e,
  'event-busy': e220,
  'event-note': e222,
  'event-seat': e224,
  'exit-to-app': e226,
  'expand-less': e227,
  'expand-more': e228,
  'explicit': e229,
  'explore': e22b,
  'explore-off': e22d,
  'exposure': e22f,
  'exposure-neg-1': e231,
  'exposure-neg-2': e232,
  'exposure-plus-1': e233,
  'exposure-plus-2': e234,
  'exposure-zero': e235,
  'extension': e236,
  'face': e238,
  'fast-forward': e23a,
  'fast-rewind': e23c,
  'fastfood': e23e,
  'favorite': e240,
  'favorite-border': e242,
  'featured-play-list': e243,
  'featured-video': e245,
  'feedback': e247,
  'fiber-dvr': e249,
  'fiber-manual-record': e24b,
  'fiber-new': e24d,
  'fiber-pin': e24f,
  'fiber-smart-record': e251,
  'file-copy': e253,
  'file-upload': e255,
  'filter': e257,
  'filter-1': e259,
  'filter-2': e25b,
  'filter-3': e25d,
  'filter-4': e25f,
  'filter-5': e261,
  'filter-6': e263,
  'filter-7': e265,
  'filter-8': e267,
  'filter-9': e269,
  'filter-9-plus': e26b,
  'filter-b-and-w': e26d,
  'filter-center-focus': e26f,
  'filter-drama': e270,
  'filter-frames': e272,
  'filter-hdr': e274,
  'filter-list': e276,
  'filter-none': e277,
  'filter-tilt-shift': e279,
  'filter-vintage': e27a,
  'find-in-page': e27c,
  'find-replace': e27e,
  'fingerprint': e27f,
  'fireplace': e280,
  'first-page': e282,
  'fitness-center': e283,
  'flag': e284,
  'flare': e286,
  'flash-auto': e287,
  'flash-off': e288,
  'flash-on': e289,
  'flight': e28a,
  'flight-land': e28b,
  'flight-takeoff': e28c,
  'flip': e28d,
  'flip-camera-android': e28e,
  'flip-camera-ios': e290,
  'flip-to-back': e292,
  'flip-to-front': e293,
  'folder': e294,
  'folder-open': e296,
  'folder-shared': e298,
  'folder-special': e29a,
  'font-download': e29c,
  'format-align-center': e29e,
  'format-align-justify': e29f,
  'format-align-left': e2a0,
  'format-align-right': e2a1,
  'format-bold': e2a2,
  'format-clear': e2a3,
  'format-color-fill': (e2a4, e2a5),
  'format-color-reset': e2a6,
  'format-color-text': (e2a8, e2a9),
  'format-indent-decrease': e2aa,
  'format-indent-increase': e2ab,
  'format-italic': e2ac,
  'format-line-spacing': e2ad,
  'format-list-bulleted': e2ae,
  'format-list-numbered': e2af,
  'format-list-numbered-rtl': e2b0,
  'format-paint': e2b1,
  'format-quote': e2b3,
  'format-shapes': e2b5,
  'format-size': e2b7,
  'format-strikethrough': e2b8,
  'format-textdirection-l-to-r': e2b9,
  'format-textdirection-r-to-l': e2bb,
  'format-underlined': e2bd,
  'forum': e2be,
  'forward': e2c0,
  'forward-10': e2c2,
  'forward-30': e2c3,
  'forward-5': e2c4,
  'free-breakfast': e2c5,
  'fullscreen': e2c7,
  'fullscreen-exit': e2c8,
  'functions': e2c9,
  'g-translate': e2ca,
  'gamepad': e2cb,
  'games': e2cd,
  'gavel': e2cf,
  'gesture': e2d0,
  'get-app': e2d1,
  'gif': e2d3,
  'golf-course': e2d5,
  'gps-fixed': e2d7,
  'gps-not-fixed': e2d9,
  'gps-off': e2da,
  'grade': e2db,
  'gradient': e2dd,
  'grain': e2de,
  'graphic-eq': e2df,
  'greater-than': e2e0,
  'greater-than-equal': e2e1,
  'grid-off': e2e2,
  'grid-on': e2e4,
  'group': e2e6,
  'group-add': e2e8,
  'group-work': e2ea,
  'hd': e2ec,
  'hdr-off': e2ee,
  'hdr-on': e2ef,
  'hdr-strong': e2f0,
  'hdr-weak': e2f2,
  'headset': e2f4,
  'headset-mic': e2f6,
  'healing': e2f8,
  'hearing': e2fa,
  'height': e2fb,
  'help': e2fc,
  'help-outline': e2fe,
  'high-quality': e2ff,
  'highlight': e301,
  'highlight-off': e303,
  'history': e305,
  'home': e306,
  'home-work': e308,
  'horizontal-split': e30a,
  'hot-tub': e30c,
  'hotel': e30d,
  'hourglass-empty': e30f,
  'hourglass-full': e310,
  'house': e312,
  'how-to-reg': e314,
  'how-to-vote': e316,
  'http': e318,
  'https': e319,
  'image': e31b,
  'image-aspect-ratio': e31d,
  'image-search': e31f,
  'import-contacts': e321,
  'import-export': e323,
  'important-devices': e324,
  'inbox': e326,
  'indeterminate-check-box': e328,
  'info': e32a,
  'input': e32c,
  'insert-chart': e32d,
  'insert-chart-outlined': e32f,
  'insert-comment': e330,
  'insert-drive-file': e332,
  'insert-emoticon': e334,
  'insert-invitation': e336,
  'insert-link': e338,
  'insert-photo': e339,
  'invert-colors': e33b,
  'invert-colors-off': e33d,
  'iso': e33f,
  'keyboard': e341,
  'keyboard-arrow-down': e343,
  'keyboard-arrow-left': e344,
  'keyboard-arrow-right': e345,
  'keyboard-arrow-up': e346,
  'keyboard-backspace': e347,
  'keyboard-capslock': e348,
  'keyboard-hide': e349,
  'keyboard-return': e34b,
  'keyboard-tab': e34c,
  'keyboard-voice': e34d,
  'king-bed': e34f,
  'kitchen': e351,
  'label': e353,
  'label-important': e355,
  'label-off': e357,
  'landscape': e359,
  'language': e35b,
  'laptop': e35d,
  'laptop-chromebook': e35f,
  'laptop-mac': e361,
  'laptop-windows': e363,
  'last-page': e365,
  'launch': e366,
  'layers': e367,
  'layers-clear': e369,
  'leak-add': e36b,
  'leak-remove': e36c,
  'lens': e36d,
  'less-than': e36f,
  'less-than-equal': e370,
  'library-add': e371,
  'library-books': e373,
  'library-music': e375,
  'lightbulb': e377,
  'line-style': e379,
  'line-weight': e37a,
  'linear-scale': e37b,
  'link': e37c,
  'link-off': e37e,
  'linked-camera': e37f,
  'list': e381,
  'list-alt': e382,
  'live-help': e384,
  'live-tv': e386,
  'local-activity': e388,
  'local-airport': e38a,
  'local-atm': e38b,
  'local-bar': e38d,
  'local-cafe': e38f,
  'local-car-wash': e391,
  'local-convenience-store': e393,
  'local-dining': e395,
  'local-drink': e396,
  'local-florist': e398,
  'local-gas-station': e39a,
  'local-grocery-store': e39c,
  'local-hospital': e39e,
  'local-hotel': e3a0,
  'local-laundry-service': e3a2,
  'local-library': e3a4,
  'local-mall': e3a6,
  'local-movies': e3a8,
  'local-offer': e3aa,
  'local-parking': e3ac,
  'local-pharmacy': e3ad,
  'local-phone': e3af,
  'local-pizza': e3b1,
  'local-play': e3b3,
  'local-post-office': e3b5,
  'local-printshop': e3b7,
  'local-see': e3b9,
  'local-shipping': e3bb,
  'local-taxi': e3bd,
  'location-city': e3bf,
  'location-disabled': e3c0,
  'location-off': e3c1,
  'location-on': e3c2,
  'location-searching': e3c4,
  'lock': e3c5,
  'lock-open': e3c7,
  'log-in': e3c9,
  'log-out': e3ca,
  'looks': e3cb,
  'looks-3': e3cc,
  'looks-4': e3ce,
  'looks-5': e3d0,
  'looks-6': e3d2,
  'looks-one': e3d4,
  'looks-two': e3d6,
  'loop': e3d8,
  'loupe': e3d9,
  'low-priority': e3db,
  'loyalty': e3dc,
  'mail': e3de,
  'mail-outline': e3e0,
  'map': e3e1,
  'markunread': e3e3,
  'markunread-mailbox': e3e5,
  'maximize': e3e7,
  'meeting-room': e3e8,
  'memory': e3ea,
  'menu': e3ec,
  'menu-book': e3ed,
  'menu-open': e3ef,
  'merge-type': e3f0,
  'message': e3f1,
  'mic': e3f3,
  'mic-none': e3f5,
  'mic-off': e3f7,
  'minimize': e3f9,
  'minus': e3fa,
  'missed-video-call': e3fb,
  'mms': e3fd,
  'mobile-friendly': e3ff,
  'mobile-off': e400,
  'mobile-screen-share': e401,
  'mode-comment': e403,
  'monetization-on': e405,
  'money': e407,
  'money-off': e409,
  'monochrome-photos': e40a,
  'mood': e40c,
  'mood-bad': e40e,
  'more': e410,
  'more-horiz': e412,
  'more-vert': e413,
  'motorcycle': e414,
  'mouse': e416,
  'move-to-inbox': e418,
  'movie': e41a,
  'movie-creation': e41c,
  'movie-filter': e41e,
  'multiline-chart': e420,
  'museum': e421,
  'music-note': e423,
  'music-off': e425,
  'music-video': e427,
  'my-location': e429,
  'nature': e42b,
  'nature-people': e42d,
  'navigate-before': e42f,
  'navigate-next': e430,
  'navigation': e431,
  'near-me': e433,
  'network-cell': (e435, e436),
  'network-check': e437,
  'network-locked': e438,
  'network-wifi': (e439, e43a),
  'new-releases': e43b,
  'next-week': e43d,
  'nfc': e43f,
  'nights-stay': e440,
  'no-encryption': e442,
  'no-meeting-room': e444,
  'no-sim': e446,
  'not-equal': e448,
  'not-interested': e449,
  'not-listed-location': e44a,
  'note': e44c,
  'note-add': e44e,
  'notes': e450,
  'notification-important': e451,
  'notifications': e453,
  'notifications-active': e455,
  'notifications-none': e457,
  'notifications-off': e459,
  'notifications-paused': e45b,
  'offline-bolt': e45d,
  'offline-pin': e45f,
  'ondemand-video': e461,
  'opacity': e463,
  'open-in-browser': e465,
  'open-in-new': e466,
  'open-with': e467,
  'outdoor-grill': e468,
  'outlined-flag': e46a,
  'pages': e46b,
  'pageview': e46d,
  'palette': e46f,
  'pan-tool': e471,
  'panorama': e473,
  'panorama-fish-eye': e475,
  'panorama-horizontal': e477,
  'panorama-vertical': e479,
  'panorama-wide-angle': e47b,
  'party-mode': e47d,
  'pause': e47f,
  'pause-circle-filled': e480,
  'pause-circle-outline': e482,
  'pause-presentation': e483,
  'payment': e485,
  'people': e487,
  'people-alt': e489,
  'people-outline': e48b,
  'percentage': e48d,
  'perm-camera-mic': e48f,
  'perm-contact-calendar': e491,
  'perm-data-setting': e493,
  'perm-device-information': e494,
  'perm-identity': e496,
  'perm-media': e498,
  'perm-phone-msg': e49a,
  'perm-scan-wifi': e49c,
  'person': e49e,
  'person-add': e4a0,
  'person-add-disabled': e4a2,
  'person-outline': e4a4,
  'person-pin': e4a6,
  'person-pin-circle': e4a8,
  'personal-video': e4aa,
  'pets': e4ac,
  'phone': e4ad,
  'phone-android': e4af,
  'phone-bluetooth-speaker': e4b1,
  'phone-callback': e4b3,
  'phone-disabled': e4b5,
  'phone-enabled': e4b6,
  'phone-forwarded': e4b7,
  'phone-in-talk': e4b9,
  'phone-iphone': e4bb,
  'phone-locked': e4bd,
  'phone-missed': e4bf,
  'phone-paused': e4c1,
  'phonelink': e4c3,
  'phonelink-erase': e4c5,
  'phonelink-lock': e4c6,
  'phonelink-off': e4c7,
  'phonelink-ring': e4c9,
  'phonelink-setup': e4cb,
  'photo': e4cc,
  'photo-album': e4ce,
  'photo-camera': e4d0,
  'photo-filter': e4d2,
  'photo-library': e4d3,
  'photo-size-select-actual': e4d5,
  'photo-size-select-large': e4d7,
  'photo-size-select-small': e4d8,
  'picture-as-pdf': e4d9,
  'picture-in-picture': e4db,
  'picture-in-picture-alt': e4dd,
  'pie-chart': e4df,
  'pin': e4e1,
  'pin-drop': e4e3,
  'pin-off': e4e5,
  'place': e4e7,
  'play-arrow': e4e9,
  'play-circle-filled': e4eb,
  'play-circle-filled-white': e4ed,
  'play-circle-outline': e4ef,
  'play-for-work': e4f0,
  'playlist-add': e4f1,
  'playlist-add-check': e4f2,
  'playlist-play': e4f3,
  'plus': e4f4,
  'plus-minus': e4f5,
  'plus-minus-alt': e4f6,
  'plus-one': e4f7,
  'policy': e4f8,
  'poll': e4fa,
  'polymer': e4fc,
  'pool': e4fd,
  'portable-wifi-off': e4ff,
  'portrait': e500,
  'post-add': e502,
  'power': e503,
  'power-input': e505,
  'power-off': e506,
  'power-settings-new': e508,
  'pregnant-woman': e509,
  'present-to-all': e50a,
  'print': e50c,
  'print-disabled': e50e,
  'priority-high': e510,
  'public': e511,
  'publish': e513,
  'qrcode': e515,
  'query-builder': e517,
  'question-answer': e519,
  'queue': e51b,
  'queue-music': e51d,
  'queue-play-next': e51f,
  'radio': e520,
  'radio-button-checked': e522,
  'radio-button-unchecked': e523,
  'rate-review': e524,
  'receipt': e526,
  'recent-actors': e528,
  'record-voice-over': e52a,
  'redeem': e52c,
  'redo': e52e,
  'refresh': e52f,
  'remove': e530,
  'remove-circle': e531,
  'remove-circle-outline': e533,
  'remove-from-queue': e534,
  'remove-red-eye': e536,
  'remove-shopping-cart': e538,
  'reorder': e53a,
  'repeat': e53b,
  'repeat-one': e53c,
  'replay': e53d,
  'replay-10': e53e,
  'replay-30': e53f,
  'replay-5': e540,
  'reply': e541,
  'reply-all': e542,
  'report': e543,
  'report-off': e545,
  'report-problem': e547,
  'restaurant': e549,
  'restaurant-menu': e54a,
  'restore': e54b,
  'restore-from-trash': e54c,
  'restore-page': e54e,
  'ring-volume': e550,
  'rocket': e552,
  'room': e554,
  'room-service': e556,
  'rotate-90-degrees-ccw': e558,
  'rotate-left': e55a,
  'rotate-right': e55b,
  'rounded-corner': e55c,
  'router': e55d,
  'rowing': e55f,
  'rss-feed': e560,
  'rv-hookup': e561,
  'satellite': e563,
  'save': e565,
  'save-alt': e567,
  'scanner': e568,
  'scatter-plot': e56a,
  'schedule': e56c,
  'school': e56e,
  'score': e570,
  'screen-lock-landscape': e572,
  'screen-lock-portrait': e574,
  'screen-lock-rotation': e576,
  'screen-rotation': e577,
  'screen-share': e579,
  'sd-card': e57b,
  'sd-storage': e57d,
  'search': e57f,
  'security': e580,
  'select-all': e582,
  'send': e583,
  'sentiment-dissatisfied': e585,
  'sentiment-neutral': e587,
  'sentiment-satisfied': e589,
  'sentiment-satisfied-alt': e58b,
  'sentiment-slightly-dissatisfied': e58d,
  'sentiment-very-dissatisfied': e58f,
  'sentiment-very-satisfied': e591,
  'settings': e593,
  'settings-applications': e595,
  'settings-backup-restore': e597,
  'settings-bluetooth': e598,
  'settings-brightness': e599,
  'settings-cell': e59b,
  'settings-ethernet': e59d,
  'settings-input-antenna': e59e,
  'settings-input-component': e59f,
  'settings-input-composite': e5a1,
  'settings-input-hdmi': e5a3,
  'settings-input-svideo': e5a5,
  'settings-overscan': e5a7,
  'settings-phone': e5a9,
  'settings-power': e5ab,
  'settings-remote': e5ac,
  'settings-system-daydream': e5ae,
  'settings-voice': e5b0,
  'share': e5b2,
  'shop': e5b4,
  'shop-two': e5b6,
  'shopping-basket': e5b8,
  'shopping-cart': e5ba,
  'short-text': e5bc,
  'show-chart': e5bd,
  'shuffle': e5be,
  'shutter-speed': e5bf,
  'signal-cellular-0-bar': (e5c1, e5c2),
  'signal-cellular-1-bar': (e5c3, e5c4),
  'signal-cellular-2-bar': (e5c5, e5c6),
  'signal-cellular-3-bar': (e5c7, e5c8),
  'signal-cellular-4-bar': e5c9,
  'signal-cellular-alt': e5ca,
  'signal-cellular-connected-no-internet-0-bar': (e5cb, e5cc),
  'signal-cellular-connected-no-internet-1-bar': (e5cd, e5ce),
  'signal-cellular-connected-no-internet-2-bar': (e5cf, e5d0),
  'signal-cellular-connected-no-internet-3-bar': (e5d1, e5d2),
  'signal-cellular-connected-no-internet-4-bar': e5d3,
  'signal-cellular-no-sim': e5d4,
  'signal-cellular-null': e5d6,
  'signal-cellular-off': e5d7,
  'signal-wifi-0-bar': (e5d8, e5d9),
  'signal-wifi-1-bar': (e5da, e5db),
  'signal-wifi-1-bar-lock': (e5dc, e5dd),
  'signal-wifi-2-bar': (e5de, e5df),
  'signal-wifi-2-bar-lock': (e5e0, e5e1),
  'signal-wifi-3-bar': (e5e2, e5e3),
  'signal-wifi-3-bar-lock': (e5e4, e5e5),
  'signal-wifi-4-bar': e5e6,
  'signal-wifi-4-bar-lock': e5e7,
  'signal-wifi-off': e5e8,
  'sim-card': e5e9,
  'sim-card-alert': e5eb,
  'single-bed': e5ed,
  'skip-next': e5ef,
  'skip-previous': e5f1,
  'slideshow': e5f3,
  'slow-motion-video': e5f5,
  'smartphone': e5f6,
  'smoke-free': e5f8,
  'smoking-rooms': e5f9,
  'sms': e5fb,
  'sms-failed': e5fd,
  'snooze': e5ff,
  'sort': e600,
  'sort-by-alpha': e601,
  'spa': e602,
  'space-bar': e604,
  'speaker': e605,
  'speaker-group': e607,
  'speaker-notes': e609,
  'speaker-notes-off': e60b,
  'speaker-phone': e60d,
  'speed': e60f,
  'spellcheck': e610,
  'sports': e611,
  'sports-baseball': e612,
  'sports-basketball': e614,
  'sports-cricket': e616,
  'sports-esports': e618,
  'sports-football': e61a,
  'sports-golf': e61c,
  'sports-handball': e61e,
  'sports-hockey': e61f,
  'sports-kabaddi': e620,
  'sports-mma': e621,
  'sports-motorsports': e623,
  'sports-rugby': e625,
  'sports-soccer': e627,
  'sports-tennis': e629,
  'sports-volleyball': e62a,
  'square-foot': e62c,
  'star': e62e,
  'star-border': e630,
  'star-half': e631,
  'star-rate': e632,
  'stars': e633,
  'stay-current-landscape': e635,
  'stay-current-portrait': e637,
  'stay-primary-landscape': e639,
  'stay-primary-portrait': e63b,
  'stop': e63d,
  'stop-circle': e63f,
  'stop-screen-share': e641,
  'storage': e643,
  'store': e644,
  'store-mall-directory': e646,
  'storefront': e648,
  'straighten': e64a,
  'streetview': e64c,
  'strikethrough-s': e64d,
  'style': e64e,
  'subdirectory-arrow-left': e650,
  'subdirectory-arrow-right': e651,
  'subject': e652,
  'subscriptions': e653,
  'subtitles': e655,
  'subway': e657,
  'supervised-user-circle': e659,
  'supervisor-account': e65b,
  'surround-sound': e65d,
  'swap-calls': e65f,
  'swap-horiz': e660,
  'swap-horizontal-circle': e661,
  'swap-vert': e663,
  'swap-vertical-circle': e664,
  'switch-camera': e666,
  'switch-video': e668,
  'sync': e66a,
  'sync-alt': e66b,
  'sync-disabled': e66c,
  'sync-problem': e66d,
  'system-update': e66e,
  'system-update-alt': e670,
  'tab': e671,
  'tab-unselected': e672,
  'table-chart': e673,
  'tablet': e675,
  'tablet-android': e677,
  'tablet-mac': e679,
  'tag-faces': e67b,
  'tap-and-play': e67d,
  'terrain': e67e,
  'text-fields': e680,
  'text-format': e681,
  'text-rotate-up': e682,
  'text-rotate-vertical': e683,
  'text-rotation-angledown': e684,
  'text-rotation-angleup': e685,
  'text-rotation-down': e686,
  'text-rotation-none': e687,
  'textsms': e688,
  'texture': e68a,
  'theaters': e68b,
  'thumb-down': e68d,
  'thumb-down-alt': e68f,
  'thumb-up': e691,
  'thumb-up-alt': e693,
  'thumbs-up-down': e695,
  'time-to-leave': e697,
  'timelapse': e699,
  'timeline': e69b,
  'timer': e69c,
  'timer-10': e69e,
  'timer-3': e69f,
  'timer-off': e6a0,
  'title': e6a2,
  'toc': e6a3,
  'today': e6a4,
  'toggle-off': e6a6,
  'toggle-on': e6a8,
  'toll': e6aa,
  'tonality': e6ac,
  'touch-app': e6ae,
  'toys': e6b0,
  'track-changes': e6b2,
  'traffic': e6b3,
  'train': e6b5,
  'tram': e6b7,
  'transfer-within-a-station': e6b9,
  'transform': e6ba,
  'transit-enterexit': e6bb,
  'translate': e6bc,
  'trending-down': e6bd,
  'trending-flat': e6be,
  'trending-up': e6bf,
  'trip-origin': e6c0,
  'tune': e6c1,
  'turned-in': e6c2,
  'turned-in-not': e6c4,
  'tv': e6c5,
  'tv-off': e6c7,
  'unarchive': e6c9,
  'undo': e6cb,
  'unfold-less': e6cc,
  'unfold-more': e6cd,
  'unsubscribe': e6ce,
  'update': e6d0,
  'usb': e6d1,
  'verified-user': e6d2,
  'vertical-align-bottom': e6d4,
  'vertical-align-center': e6d5,
  'vertical-align-top': e6d6,
  'vertical-split': e6d7,
  'vibration': e6d9,
  'video-call': e6db,
  'video-label': e6dd,
  'video-library': e6df,
  'videocam': e6e1,
  'videocam-off': e6e3,
  'videogame-asset': e6e5,
  'view-agenda': e6e7,
  'view-array': e6e9,
  'view-carousel': e6eb,
  'view-column': e6ed,
  'view-comfy': e6ef,
  'view-compact': e6f1,
  'view-day': e6f3,
  'view-headline': e6f5,
  'view-list': e6f6,
  'view-module': e6f8,
  'view-quilt': e6fa,
  'view-stream': e6fc,
  'view-week': e6fe,
  'vignette': e700,
  'visibility': e702,
  'visibility-off': e704,
  'voice-chat': e706,
  'voice-over-off': e708,
  'voicemail': e70a,
  'volume-down': e70b,
  'volume-mute': e70d,
  'volume-off': e70f,
  'volume-up': e711,
  'vpn-key': e713,
  'vpn-lock': e715,
  'wallpaper': e717,
  'warning': e718,
  'watch': e71a,
  'watch-later': e71c,
  'waves': e71e,
  'wb-auto': e71f,
  'wb-cloudy': e721,
  'wb-incandescent': e723,
  'wb-iridescent': e725,
  'wb-sunny': e727,
  'wc': e729,
  'web': e72a,
  'web-asset': e72c,
  'weekend': e72e,
  'whatshot': e730,
  'where-to-vote': e732,
  'widgets': e734,
  'wifi': e736,
  'wifi-lock': e737,
  'wifi-off': e738,
  'wifi-tethering': e739,
  'work': e73a,
  'work-off': e73c,
  'work-outline': e73e,
  'wrap-text': e73f,
  'youtube-searched-for': e740,
  'zoom-in': e741,
  'zoom-out': e742,
  'zoom-out-map': e743
);

$sizes: (
  18,
  24,
  36,
  48
);

@function content($codepoint) {
  @return unquote("'\\#{$codepoint}'");
}

@mixin font($family, $filename) {
  @font-face {
    font-family: $family;
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("#{$font-path}#{$filename}.ttf");
    /* For IE6-8 */
    src: url("#{$font-path}#{$filename}.woff2") format("woff2"),
    url("#{$font-path}#{$filename}.woff") format("woff"),
    url("#{$font-path}#{$filename}.ttf") format("truetype");
  }
}

@include font($default-family, $default-filename);

@each $theme, $item in $extra-themes {
  $family: nth($item, 1);
  $filename: nth($item, 2);
  @include font($family, $filename);
}

.material-icons {
  font-family: $default-family;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  -ms-word-wrap: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  position: relative;

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .3;
  }
  &:after {
    opacity: 1;
  }
}

@each $theme, $family in $extra-themes {
  .material-icons--#{$theme} {
    font-family: nth($family, 1), $default-family;
  }
}

/* Rules for sizing the icon. */
@each $size in $sizes {
  .md-#{$size} {
    font-size: #{$size}px;
  }
}

/* Rules for using icons as black on a light background. */
.md-dark { color: rgba(0, 0, 0, 0.54); }
.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.md-light { color: rgba(255, 255, 255, 1); }
.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Icons. */
.md {
  @each $icon, $codepoints in $icons {
    &-#{$icon} {
      @if (type-of($codepoints) == 'list') {
        &:after {
          content: content(nth($codepoints, 1));
        }
        @if (length($codepoints) > 1) {
          &:before {
            content: content(nth($codepoints, 2));
          }
        }
      } @else {
        &:after {
          content: content($codepoints);
        }
      }
    }
  }
}
